            {% block header_content %}
                <header class="{% block header_class %}header-area{% endblock %}">
                    {% block header_top_bar %}
                        <div class="{% block header_top_bar_class %}header-top-bar bg-dark-opacity py-2 padding-right-30px padding-left-30px{% endblock %}">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-6 d-flex align-items-center header-top-info">
                                        {{ render(url('app_social_url')) }}
                                        <span class="contact ml-2 text-white font-weight-semi-bold font-size-14">
                                            <a href="{{ path("app_contact") }}">{{ 'global.contact'|trans }}</a>
                                        </span>
                                        <span class="contact ml-2 text-white font-weight-semi-bold font-size-14">
                                            <a href="{{ path("app_about") }}">{{ 'global.about'|trans }}</a>
                                        </span>
                                    </div>
                                    <div class="col-lg-6 d-flex align-items-center justify-content-end header-top-info font-size-14">
                                        <p class="login-and-signup-wrap">
                                            {% if is_granted('edit', app.user) %}
                                                <a href="{{ path('app_professional_information') }}" class="theme-btn gradient-btn shadow-none add-listing-btn-hide">
                                                    {{ 'global.professional_area'|trans }}
                                                </a>
                                            {% else %}
                                                <a href="{{ path('app_professional_create') }}" class="theme-btn gradient-btn shadow-none add-listing-btn-hide">
                                                    <span class="mr-1 la la-user-plus"></span>{{ 'global.become_a_professional'|trans }}
                                                </a>
                                            {% endif %}
                                        </p>
                                        <div class="menu-locale">
                                            <nav class="main-menu">
                                                <a href="#" class="theme-btn gradient-btn dropdown-toggle locale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                    {{ app.request.locale|locale_name(app.request.locale)|title }} <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% for locale in locales %}
                                                        {% if locale != app.request.locale %}
                                                            <li style="padding-top: 0;"><a href="{{ path('app_change_locale', {locale: locale}) }}">{{ locale|locale_name(app.request.locale)|title }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                    <div class="{% block header_menu_wrapper %}header-menu-wrapper padding-right-30px padding-left-30px{% endblock %}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="menu-full-width">
                                        {% block logo %}
                                            <div class="logo">
                                                <a href="{{ path("app_home") }}"><img src="{{ asset('assets/front/images/logo-white.png') }}" alt="pambe"></a>
                                                <div class="d-flex align-items-center">
                                                    <a href="#" class="btn-gray add-listing-btn-show font-size-24 mr-2 flex-shrink-0" data-toggle="tooltip" data-placement="left" title="Add Listing">
                                                        <i class="la la-plus"></i>
                                                    </a>
                                                    <div class="menu-toggle">
                                                        <span class="menu__bar"></span>
                                                        <span class="menu__bar"></span>
                                                        <span class="menu__bar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock %}
                                        <div class="quick-search-form d-flex align-items-center">
                                            <form action="{{ path('app_professional_search') }}" method="get" class="w-100">
                                                <div class="header-search position-relative">
                                                    <i class="la la-search form-icon"></i>
                                                    <input type="search" name="words" placeholder="{{ 'global.search'|trans }}">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="main-menu-content ml-auto">
                                            <nav class="main-menu">
                                                <ul>
                                                    {% if app.user %}
                                                        <li>
                                                            <a href="#" class="text-white">{{ 'global.account'|trans }} <span class="la la-angle-down"></span></a>
                                                            <ul class="dropdown-menu-item">
                                                                <li><a href="{{ path('app_account') }}"><span class="mr-1 la la-user-circle"></span>{{ 'global.profile'|trans }}</a></li>
                                                                <li><a href="{{ logout_path('front') }}"><span class="mr-1 la la-sign-out"></span>{{ 'global.logout'|trans }}</a></li>
                                                            </ul>
                                                        </li>
                                                    {% else %}
                                                        <li><a href="{{ path("app_login") }}" class="text-white"><span class="mr-1 la la-sign-in"></span>{{ 'global.login'|trans }}</a></li>
                                                    {% endif %}
                                                </ul>
                                            </nav>
                                        </div>
                                        <div class="nav-right-content">
                                            <a href="{{ path('app_professional_need_create') }}" class="theme-btn gradient-btn shadow-none add-listing-btn-hide">
                                                <i class="la la-user-plus mr-2"></i>{{ 'global.submit_a_need'|trans }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="{% block header_bottom_bar_class %}header-top-bar bg-dark-opacity{% endblock %}">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-12 d-flex header-top-info font-size-14">
                                    {% include "front/partials/main_menu.html.twig" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            {% endblock %} 