<div class="main-menu-content menu">
    <nav class="main-menu">
        <ul>
            {% for menu in menus() %}
                {% if menu.children == false %}
                    <li>
                        {{ _self.render_menu_item(menu) }}
                        {% if menu.menus|length > 0 %}
                            <div class="dropdown-menu-item mega-menu">
                                <ul class="row no-gutters">
                                    {% for menuSub in menu.menus %}
                                        <li class="col-lg-6 mega-menu-item">
                                            {{ _self.render_submenu_item(menuSub) }}
                                            {% if menuSub.categories|length > 0 %}
                                                <ul>
                                                    {% for menuSubSub in menuSub.categories %}
                                                    <li><a href="{{ path("app_category_pro", {"slug": menuSubSub.slug}) }}">{{ menuSubSub.job|e }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li> 
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}  
            {% if is_granted('edit', app.user) and needs()|length > 0 %}
                <li>
                    <a href="{{ path('app_professional_need') }}">Besoins</span></a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% macro render_menu_item(menu) %}
    <a href="{{ menu.route is not null ? path(menu.route) : "#" }}">{{ menu.title|e }} 
        {% if menu.menus|length > 0 %}
            <span class="la la-angle-down"></span>
        {% endif %}
    </a>
{% endmacro %}
{% macro render_submenu_item(menu) %}
    {% if menu.route is not null %}
        <a href="{{ path(menu.route) }}">{{ menu.title|e }}</a>
    {% else %}
        <h6>{{ menu.title|e }}</h6>
    {% endif %}
{% endmacro %}