{% set facebook     = social_url ? social_url.facebook : null %}
{% set twitter      = social_url ? social_url.twitter : null %}
{% set instagram    = social_url ? social_url.instagram : null %}
{% set whatsapp     = social_url ? social_url.whatsapp : null %}
{% set linkedin     = social_url ? social_url.linkedin : null %}
{% set youtube      = social_url ? social_url.youtube : null %}
{% set pinterest    = social_url ? social_url.pinterest : null %}


    {% if social_url is not null %}
        <span class="mr-2 text-white font-weight-semi-bold font-size-14">Suivez-Nous:</span>
        <ul class="social-profile social-profile-colored">
            {% if facebook %} <li><a href="{{ facebook }}" class="facebook-bg"><i class="lab la-facebook-f"></i></a></li>{% endif %}
            {% if twitter %}<li><a href="{{ twitter }}" class="twitter-bg"><i class="lab la-twitter"></i></a></li>{% endif %}
            {% if instagram %}<li><a href="{{ instagram }}" class="instagram-bg"><i class="lab la-instagram"></i></a></li>{% endif %}
            {% if whatsapp %}<li><a href="{{ whatsapp }}" class="whatsapp-bg"><i class="la la-whatsapp"></i></a></li>{% endif %}
            {% if linkedin %}<li><a href="{{ linkedin }}" class="linkedin-bg"><i class="lab la-linkedin"></i></a></li>{% endif %}
            {% if youtube %}<li><a href="{{ youtube }}" class="youtube-bg"><i class="lab la-youtube"></i></a></li>{% endif %}
            {% if pinterest %}<li><a href="{{ pinterest }}" class="pinterest-bg"><i class="la la-pinterest"></i></a></li>{% endif %}
        </ul>
    {% endif %}
