{% extends 'front/layout.html.twig' %}

{% block title %}{{ need.title ~' - '~ parent() }}{% endblock %}

{% block content %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">{{ need.title }}</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>{{ need.title }}</li>
        {% endblock %}
    {% endembed %}
    <section class="add-listing-area section-padding">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-10 mx-auto">
                    <div class="block-card mb-3">
                        <div class="block-card-header">
                            <h2 class="widget-title"> <span class="float-right">Catégorie : {{ need.category ? need.category.name|title : 'inconnue' }}</span></h2>
                        </div>
                        <div class="block-card-body">
                            <div class="card-body row">
                                <div class="list col-lg-8"><i class="la la-tag text-color-2 mr-2 font-size-18"></i>ID : #{{ need.id|strpad(5, '0') }}</div>
                                <div class="list col-lg-4"><i class="la la-calendar text-color-2 mr-2 font-size-18"></i>Publié le : {{ need.dateAdd|format_date() }}</div>
                                <div class="list col-lg-8"><i class="la la-money text-color-2 mr-2 font-size-18"></i>Budget : {{ need.budget ?? 'inconnu' }} {{ need.budget is null ?: 'FCFA' }}</div>
                                <div class="list col-lg-4"><i class="la la-calendar text-color-2 mr-2 font-size-18"></i>Délai : {{ need.delay }} jours</div>
                                <div class="list col-lg-12 expdesc">{{ need.description }}</div>
                                <div class="list badge col-lg-12"><a href="javascript:void(0)">Propositions <span>({{ need.proposals|length }})</span></a></div>
                                {% if need.document is not null %}
                                    <div class="list col-lg-12"><a target="_blank" href="{{ vich_uploader_asset(need, 'documentFile') }}"><i class="la la-cloud-download-alt"></i> Téléchargez le fichier pour plus d'informations</a></div>
                                {% endif %}
                                <div class="list col-lg-12"><a href="{{ path('app_professional_proposal_create', {id: need.id}) }}"><i class="la la-user-plus"></i> Ajoutez une proposition</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}