{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'global.forgotten_password'|trans ~' - '~ parent() }}{% endblock %}

{% block content %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">{{ 'global.forgotten_password'|trans }}</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>{{ 'global.forgotten_password'|trans }}</li>
        {% endblock %}
    {% endembed %}

    <section class="overflow-hidden">
        <div class="login">
            {{ form_start(forgotForm, {'method': 'post', 'attr': {'class': 'form-box'} }) }}
                <div class="input-box">
                    <label for="email" class="label-text">{{ 'global.email'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-user form-icon"></span>
                        {{ form_widget(forgotForm.email, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.email_address'|trans }}) }}
                        {{ form_errors(forgotForm.email) }}
                    </div>
                </div>
                <div class="btn-box">
                    <button type="submit" class="theme-btn gradient-btn w-100">
                        <i class="la la-sign-in mr-1"></i> {{ 'global.send'|trans }}
                    </button>
                    <p class="sub-text-box text-right pt-1 font-weight-medium font-size-14">
                        Nouveau chez Pambe ? <a class="text-color-2" href="{{ path('app_register') }}">Créer un compte</a>
                    </p>
                </div>
            {{ form_end(forgotForm) }}
        </div>
    </section>
    
{% endblock %}