{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'global.new_password'|trans ~' - '~ parent() }}{% endblock %}

{% block content %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">{{ 'global.new_password'|trans }}</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>{{ 'global.new_password'|trans }}</li>
        {% endblock %}
    {% endembed %}

    <section class="overflow-hidden">
        <div class="login">
            <form method="post" id="login-form" class="form-box">
                <div class="input-box">
                    <label for="password" class="label-text">{{ 'global.password'|trans }}</label>
                    <div class="form-group">
                        <span class="la la-user form-icon"></span>
                        <input class="form-control form-control-styled" type="password" id="password" name="password" placeholder="{{ 'global.enter_a_new_password'|trans }}" autofocus>
                    </div>
                </div>
                <input type="hidden" name="token" value="{{ token }}">
                <div class="btn-box">
                    <button type="submit" class="theme-btn gradient-btn w-100">
                        <i class="la la-sign-in mr-1"></i> {{'global.send'|trans}}
                    </button>
                </div>  
            </form>
        </div>
    </section>
    
{% endblock %}