{% extends 'front/layout.html.twig' %}

{% set profile = professional.profil and professional.profil.image ? vich_uploader_asset(professional.profil, 'imageFile') : asset('assets/front/images/photoshop.png') %}
{% set cover = professional.cover and professional.cover.image ? vich_uploader_asset(professional.cover, 'imageFile') : asset('assets/front/images/img1.jpg') %}

{% set facebook     = professional.socialUrl ? professional.socialUrl.facebook : null %}
{% set twitter      = professional.socialUrl ? professional.socialUrl.twitter: null %}
{% set instagram    = professional.socialUrl ? professional.socialUrl.instagram : null %}
{% set whatsapp     = professional.socialUrl ? professional.socialUrl.whatsapp : null %}
{% set linkedin     = professional.socialUrl ? professional.socialUrl.linkedin :null %}
{% set youtube      = professional.socialUrl ? professional.socialUrl.youtube : null %}
{% set pinterest    = professional.socialUrl ? professional.socialUrl.pinterest : null %}

{% block meta %}
    {% if professional.shortDescription is not empty %}
        <meta name="description" content="{{ professional.shortDescription|striptags|u.truncate(150, '...', false) }}">
    {% endif %}
{% endblock %}

{% block title %}{{ professional.user.lastname ~' - '~ parent() }}{% endblock %}

{% block header %}
    {% embed "front/partials/header.html.twig" %}
        {% block header_content %}
            <header class="header-area position-inherit top-auto bg-white">
    <div class="header-top-bar bg-dark py-2 padding-right-30px padding-left-30px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center header-top-info">
                                    {{ render(url('app_social_url')) }}
                                    <span class="contact ml-2 text-white font-weight-semi-bold font-size-14">
                                        <a href="{{ path("app_contact") }}">Contact</a>
                                    </span>
                                    <span class="contact ml-2 text-white font-weight-semi-bold font-size-14">
                                        <a href="{{ path("app_about") }}">À propos</a>
                                    </span>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-end header-top-info font-size-14">
                                    <p class="login-and-signup-wrap">
                                        {% if is_granted("ROLE_PROFESSIONNEL") %}
                                            <a class="theme-btn gradient-btn shadow-none add-listing-btn-hide" href="#">
                                               Espace professionnel
                                            </a>
                                        {% else %}
                                            <a class="theme-btn gradient-btn shadow-none add-listing-btn-hide" href="#">
                                                <span class="mr-1 la la-user-plus"></span>Devenir professionnel
                                            </a>
                                        {% endif %}
                                    </p>
                                    <div class="user-chosen-select-container">
                                        <select class="user-chosen-select">
                                            <option value="1" selected>English</option>
                                            <option value="2">French</option>
                                        </select>
                                    </div>
                                </div>
            </div> {# Fin validation #}
        </div><!-- end container-fluid -->
    </div><!-- end header-top-bar -->
    <div class="header-menu-wrapper padding-right-30px padding-left-30px">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-lg-12">
                    <div class="menu-full-width">
                        <div class="logo">
                            <a href="index.html" class="sticky-logo-hide"><img src="images/logo-black.png" alt="logo"></a>
                            <a href="index.html" class="sticky-logo-show"><img src="images/logo-white.png" alt="logo"></a>
                            <div class="d-flex align-items-center">
                                <a href="add-listing.html" class="btn-gray add-listing-btn-show font-size-24 mr-2 flex-shrink-0 text-color" data-toggle="tooltip" data-placement="left" title="Add Listing">
                                    <i class="la la-plus"></i>
                                </a>
                                <div class="menu-toggle menu-toggle-black">
                                    <span class="menu__bar"></span>
                                    <span class="menu__bar"></span>
                                    <span class="menu__bar"></span>
                                </div><!-- end menu-toggle -->
                            </div>
                        </div><!-- end logo -->
                        <div class="main-menu-content main-menu-content-2 border-left-color">
                            <nav class="main-menu main-menu-2">
                                <ul>
                                    <li>
                                        <a href="#">home <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="index.html">home one</a></li>
                                       
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">listings <span class="la la-angle-down"></span></a>
                                        <ul class="dropdown-menu-item">
                                            <li><a href="listing-grid.html">listing grid</a></li>
                                       
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">pages <span class="la la-angle-down"></span></a>
                                    </li>
                                    <li>
                                        <a href="#">blog <span class="la la-angle-down"></span></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="nav-right-content ml-auto">
                            <a href="add-listing.html" class="theme-btn gradient-btn add-listing-btn-hide">
                                <i class="la la-plus mr-2"></i>Add Listing
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
        {% endblock %} 
    {% endembed %}
{% endblock %}

{% block content %}
    <section class="full-screen-slider-area pro-cover" style="background-image: url('{{ cover }}')">
        <div class="profile-area">
            <a href="javascript:void(0)" class="user-thumb user-profile d-inline-block" data-toggle="tooltip" data-placement="top" title="{{ professional.user }}">
                <img src="{{ profile|imagine_filter('profile') }}" alt="{{ professional.user.firstname|e }}">
            </a>
            <div class="align-items-center profile-name">
                <h2 class="sec__title mb-0" style="color:white;">{{ professional.user|title }} {% if professional.verified %}<span style="font-size:14px;" class="text-color-4"><i class="la la-check-circle mr-1 text-color-4"></i>Certifié</span>{% endif %}</h2>
                <h5 class="sec__title mb-0" style="color:white;">{{ professional.skill ? professional.skill.name|title : 'Erreur de compétence' }}</h5>
                <p class="sec__desc py-2 font-size-17" style="color:white;"><i class="la la-map-marker mr-1 text-color-4"></i>{{ professional.user.address|e }}</p>
            </div>
        </div>
    </section>
    <section class="breadcrumb-area bg-gradient-gray py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content breadcrumb-content-2 d-flex flex-wrap align-items-end justify-content-between">
                        <div class="section-heading">
                            <ul class="list-items bread-list bread-list-2 bg-transparent rounded-0 p-0">
                                <li><a href="{{ path("app_home") }}">Accueil</a></li>
                                {% if professional.categoryProfessionalDefault %}
                                    <li><a href="{{ path("app_category_pro", {"slug": professional.categoryProfessionalDefault.slug}) }}">{{ professional.categoryProfessionalDefault }}</a></li>
                                {% endif %}
                                <li>{{ professional.user }}</li>
                            </ul>
                            <div class="d-flex flex-wrap align-items-center reviews">
                                <div class="star-rating-wrap d-flex align-items-center">
                                    <div class="star-rating text-color-5 font-size-18">
                                        {% for i in 1..5 %}
                                            <span class="{{ loop.first ? 'ml-n1' : '' }}"><i class="la la-star{{ loop.index > scoreavg(professional)|force_to_int ? '-o' : '' }}"></i></span>
                                        {% endfor %}
                                    </div>
                                    <p class="font-size-14 pl-2 font-weight-medium">{{ professional.reviews|length }} avis</p>
                                </div>
                                <div class="timestamp font-weight-medium ml-3 pl-3 border-left border-left-color line-height-20">
                                    <span class="{{ professional.available ? "text-color-4" : "text-color-2" }} mr-2">{{ professional.available ? "disponible" : "absent" }}</span>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a href="#review" class="btn-gray mr-1"><i class="la la-star mr-1"></i>Écrire un avis</a>
                                <a href="{{ path("app_professional_like", {"slug" : professional.slug}) }}" class="js-like btn-gray mr-1">
                                    {% if app.user and professional.isLikedByUser(app.user) %}
                                        <i class="la la-heart mr-1"></i>
                                    {% else %}
                                        <i class="la la-bookmark mr-1"></i>
                                    {% endif %}
                                    Favoris 
                                </a>
                                <a href="#" class="btn-gray mr-1" data-toggle="modal" data-target="#shareModal"><i class="la la-external-link mr-1"></i>Partager</a>
                                <a href="#" class="btn-gray" data-toggle="modal" data-target="#messageModal"><i class="la la-mail-forward mr-1"></i>Contacter</a>
                            </div>
                        </div>
                        <div class="btn-box d-flex align-items-center">
                            <span class="btn-gray mr-2"><i class="la la-eye mr-1"></i>Vues - {{ professional.view }}</span>
                            <span class="btn-gray mr-2 js-likes"><i class="la la-heart mr-1"></i>Favoris - {{ professional.likes|length }}</span>
                            <div class="dropdown dot-action-wrap">
                                <button class="dot-action-btn dropdown-toggle after-none border-0" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="la la-ellipsis-v"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#reportModal"><i class="la la-flag mr-1"></i>Report</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="listing-detail-area padding-top-20px padding-bottom-20px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 prod-details">
                    <div class="listing-detail-wrap">
                        {% if professional.description is not empty %}
                            <div class="block-card mb-3">
                                <div class="block-card-header">
                                    <h2 class="widget-title">{{ 'global.about'|trans }}</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                    {{ professional.description|raw }}
                                </div>
                            </div>
                        {% endif %}
                        {% if professional.services|length > 0 %}
                            <div class="block-card mb-3">
                                <div class="block-card-header">
                                    <h2 class="widget-title">Services</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                    <div class="row">
                                        {% for service in professional.services -%}
                                            <div class="col-lg-6 responsive-column">
                                                <div class="mini-list-card">
                                                    <div class="mini-list-img">
                                                        <a href="{{ vich_uploader_asset(service, 'thumbnailFile') }}" class="d-block" data-fancybox="gallery">
                                                            <img src="{{ vich_uploader_asset(service, 'thumbnailFile')|imagine_filter('service') }}" alt="{{ service.title|e }}">
                                                        </a>
                                                    </div>
                                                    <div class="mini-list-body">
                                                        <h4 class="mini-list-title"><a href="javascript:void(0)">{{ service.title|e }}</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        {%- endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if professional.qualifications|length > 0 %}
                            <div class="block-card mb-3">
                                <div class="block-card-header">
                                    <h2 class="widget-title">Expériences</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                    <div class="accordion-item" id="accordion">
                                        {% set exp = 0 %}
                                        {% for qualification in professional.qualifications -%}
                                            {% if qualification.type is constant('App\\Entity\\Qualification::EXPERIENCE') %}
                                                {% set exp = exp + 1 %}
                                                <div class="card">
                                                    <div class="card-header" id="heading{{ qualification.id }}">
                                                        <h5>
                                                            <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse{{ qualification.id }}" aria-expanded="{{ loop.first ? "true" : "false" }}" aria-controls="collapse{{ qualification.id }}">
                                                                Expérience #{{ exp }}
                                                                <i class="la la-minus"></i>
                                                                <i class="la la-plus"></i>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse{{ qualification.id }}" class="collapse {{ loop.first ? 'show' : ''}}" aria-labelledby="heading{{ qualification.id }}" data-parent="#accordion">
                                                        {% include "front/partials/professional/edit/qualification.html.twig" with {qualification: qualification} %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {%- endfor %}
                                    </div>
                                </div>
                                <div class="block-card-header qual">
                                    <h2 class="widget-title">Qualifications</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                    <div class="accordion-item" id="accordion2">
                                        {% set qual = 0 %}
                                        {% for qualification in professional.qualifications -%}
                                            {% if qualification.type is constant('App\\Entity\\Qualification::QUALIFICATION') %}
                                                {% set qual = qual + 1 %}
                                                <div class="card">
                                                    <div class="card-header" id="heading{{ qualification.id }}">
                                                        <h5>
                                                            <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse{{ qualification.id }}" aria-expanded="{{ loop.first ? "true" : "false" }}" aria-controls="collapse{{ qualification.id }}">
                                                                Qualification #{{ qual }}
                                                                <i class="la la-minus"></i>
                                                                <i class="la la-plus"></i>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse{{ qualification.id }}" class="collapse {{ loop.first ? 'show' : ''}}" aria-labelledby="heading{{ qualification.id }}" data-parent="#accordion2">
                                                        {% include "front/partials/professional/edit/qualification.html.twig" with {qualification: qualification} %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {%- endfor %}
                                    </div>
                                </div>
                                <div class="block-card-header qual">
                                    <h2 class="widget-title">Certifications</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                    <div class="accordion-item" id="accordion3">
                                        {% set cert = 0 %}
                                        {% for qualification in professional.qualifications -%}
                                            {% if qualification.type is constant('App\\Entity\\Qualification::CERTIFICATE') %}
                                                {% set cert = cert + 1 %}
                                                <div class="card">
                                                    <div class="card-header" id="heading{{ qualification.id }}">
                                                        <h5>
                                                            <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse{{ qualification.id }}" aria-expanded="{{ loop.first ? "true" : "false" }}" aria-controls="collapse{{ qualification.id }}">
                                                                Certification #{{ cert }}
                                                                <i class="la la-minus"></i>
                                                                <i class="la la-plus"></i>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse{{ qualification.id }}" class="collapse {{ loop.first ? 'show' : ''}}" aria-labelledby="heading{{ qualification.id }}" data-parent="#accordion3">
                                                        {% include "front/partials/professional/edit/qualification.html.twig" with {qualification: qualification} %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {%- endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
  
                        {% if professional.videoUrl is not empty %}
                            <div class="block-card mb-3">
                                <div class="block-card-header">
                                    <h2 class="widget-title">Vidéo Promotionnelle</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                    <div class="video-box">
                                        <img class="lazy" src="{{ asset('assets/front/images/img-loading.png') }}" data-src="{{ asset('assets/front/images/single-listing-img7.jpg') }}" alt="{{ professional.user }}">
                                        <div class="video-content">
                                            <a class="icon-element icon-element-lg icon-element-white hover-scale mx-auto" href="{{ professional.videoUrl }}" data-fancybox="" title="Jouer la Vidéo">
                                                <i class="la la-play"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if professional.galleries|length > 0 %}
                            <div class="block-card mb-3">
                                <div class="block-card-header">
                                    <h2 class="widget-title">Galleries</h2>
                                    <div class="stroke-shape"></div>
                                </div>
                                <div class="block-card-body">
                                <div class="row">
                                    {% for gallery in professional.galleries %}
                                        <div class="col-lg-6 responsive-column pro">
                                            <div class="gallery">
                                                <a href="{{ vich_uploader_asset(gallery, 'imageFile') }}" class="d-inline-block" data-fancybox="gallery">
                                                    <img src="{{ vich_uploader_asset(gallery, 'imageFile')|imagine_filter('gallery') }}" class="lazy" alt="{{ gallery.image|e }}">
                                                </a>
                                            </div>    
                                        </div>
                                    {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="block-card mb-3">
                            <div class="block-card-header">
                                <h2 class="widget-title">Statistiques de Notation</h2>
                                <div class="stroke-shape"></div>
                            </div>
                            <div class="block-card-body">
                                <div class="review-content d-flex flex-wrap align-items-center">
                                    <div class="review-rating-summary">
                                        <span class="stats-average__count">
                                        {{ scoreavg(professional) }}
                                        </span>
                                        <div class="star-rating-wrap">
                                            <p class="font-size-14 font-weight-medium">out of 5.0</p>
                                            <div class="star-rating text-color-5 font-size-18">
                                                <span><i class="la la-star"></i></span>
                                                <span class="ml-n1"><i class="la la-star"></i></span>
                                                <span class="ml-n1"><i class="la la-star"></i></span>
                                                <span class="ml-n1"><i class="la la-star"></i></span>
                                                <span class="ml-n1"><i class="la la-star"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-bars d-flex flex-row flex-wrap flex-grow-1 align-items-center">
                                        <div class="review-bars-item">
                                            <span class="review-bars-name">{{ 'global.reviews'|trans }}</span>
                                            <div class="review-bars-inner d-flex w-100 align-items-center">
                                                <span class="review-bars-review" data-rating="{{ scoreavg(professional) }}">
                                                    <span class="review-bars-review-inner"></span>
                                                </span>
                                                <span class="pill">{{ scoreavg(professional) }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-card mb-3">
                            <div class="block-card-header">
                                <h2 class="widget-title">Avis <span class="ml-1 text-color-2">({{ professional.reviews|length }})</span></h2>
                                <div class="stroke-shape"></div>
                            </div>
                            <div class="block-card-body">
                                <div class="comments-list" id="reviews">
                                    {% for review in professional.reviews|reverse(true) %}
                                        <div class="comment comment-hidden">
                                            <div class="user-thumb user-thumb-lg flex-shrink-0">
                                                <img src="{{ asset('assets/front/images/avatar-img.jpg') }}" alt="{{ review.name }}">
                                            </div>
                                            <div class="comment-body">
                                                <div class="meta-data d-flex align-items-center justify-content-between">
                                                    <div>
                                                        <h4 class="comment__title">{{ review.name }}</h4>
                                                        <span class="comment__meta">{{ review.email }}</span>
                                                    </div>
                                                    <div class="star-rating-wrap text-center">
                                                        <div class="star-rating text-color-5 font-size-18">
                                                            {% for i in 1..5 %}
                                                                <span class="{{ loop.first ? 'ml-n1' : '' }}"><i class="la la-star{{ loop.index > review.score ? '-o' : '' }}"></i></span>
                                                            {% endfor %}
                                                        </div>
                                                        <p class="font-size-13 font-weight-medium">{{ review.dateAdd|format_date }}</p>
                                                    </div>
                                                </div>
                                                <p class="comment-desc">
                                                    {{ review.description }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <a href="#" id="load_more">load more</a>
                            </div>
                        </div>
                        <div class="block-card" id="review">
                            <div class="block-card-header">
                                <h2 class="widget-title pb-1">Ajouter votre avis</h2>
                                <p>Votre adresse email ne sera pas publiée. Les champs requis sont indiqués *</p>
                            </div>
                            <div class="block-card-body">
                                <form method="post" class="form-box pt-3">
                                    <div class="add-rating-bars review-bars d-flex flex-row flex-wrap flex-grow-1 align-items-center justify-content-between">
                                        <div class="review-bars-item mx-0 mt-0">
                                            <div class="review-bars-inner pt-1">
                                                <div class="leave-rating">
                                                    <input type="radio" name="rating" id="rating-1" value="5">
                                                    <label for="rating-1" class="fa fa-star"></label>
                                                    <input type="radio" name="rating" id="rating-2" value="4">
                                                    <label for="rating-2" class="fa fa-star"></label>
                                                    <input type="radio" name="rating" id="rating-3" value="3">
                                                    <label for="rating-3" class="fa fa-star"></label>
                                                    <input type="radio" name="rating" id="rating-4" value="2">
                                                    <label for="rating-4" class="fa fa-star"></label>
                                                    <input type="radio" name="rating" id="rating-5" value="1">
                                                    <label for="rating-5" class="fa fa-star"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <input name="professional_id" id="professional_id" type="hidden" value="{{ professional.id }}">
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                <label class="label-text">{{ 'global.name'|trans }}</label>
                                                <div class="form-group">
                                                    <span class="la la-user form-icon"></span>
                                                    <input id="review_name" class="form-control" type="text" name="name" placeholder="{{ 'global.your_name'|trans }}">
                                                    {% if errors|length > 0 %}
                                                        <span class="review-error">{{ errors.name }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="input-box">
                                                <label class="label-text">{{ 'global.email'|trans }}</label>
                                                <div class="form-group">
                                                    <span class="la la-envelope-o form-icon"></span>
                                                    <input id="review_email" class="form-control" type="email" name="email" placeholder="{{ 'global.email_address'|trans }}">
                                                    {% if errors|length > 0 %}
                                                        <span class="review-error">{{ errors.email }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="input-box">
                                                <label class="label-text">{{ 'global.reviews'|trans }}</label>
                                                <div class="form-group">
                                                    <span class="la la-pencil form-icon"></span>
                                                    <textarea id="review_description" class="message-control form-control" name="message" placeholder="{{ 'global.write_your_reviews'|trans }}"></textarea>
                                                    {% if errors|length > 0 %}
                                                        <span class="review-error">{{ errors.message }}</span>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="btn-box pt-1">
                                                <button id="rating-btn" class="theme-btn gradient-btn border-0">{{ 'global.submit_review'|trans }}<i class="la la-arrow-right ml-2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar mb-0">
                        <div class="sidebar-widget">
                            <div class="d-flex align-items-center pb-3">
                                <svg class="mr-2" width="55" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 316.658 316.658" xml:space="preserve">
                                    <g>
                                            <path style="fill:#222220;" d="M257.591,183.075c-11.104-12.792-26.45-21.154-43.217-23.551l-38.492-6.036V86.313
                                                c0-15.952-12.979-28.93-28.931-28.93h-0.433c-15.952,0-28.931,12.978-28.931,28.93v107.881L77.794,177.14
                                                c-7.993-3.425-17.104-2.614-24.367,2.176c-7.262,4.788-11.597,12.841-11.597,21.539v0.363c0,7.361,3.155,14.389,8.656,19.28
                                                l67.102,59.669v28.989c0,4.143,3.357,7.5,7.5,7.5s7.5-3.357,7.5-7.5V276.8c0-2.142-0.916-4.182-2.517-5.604l-69.618-61.906
                                                c-2.303-2.048-3.623-4.989-3.623-8.071v-0.363c0-3.695,1.77-6.982,4.854-9.017c3.087-2.035,6.807-2.366,10.201-0.911l50.24,21.532
                                                c0.462,0.199,0.948,0.355,1.453,0.458c0.751,0.155,1.509,0.189,2.25,0.114c0.084-0.008,0.166-0.024,0.249-0.035
                                                c0.155-0.021,0.311-0.041,0.464-0.071c0.134-0.026,0.265-0.063,0.396-0.096c0.1-0.026,0.2-0.047,0.299-0.077
                                                c0.149-0.044,0.294-0.098,0.439-0.152c0.08-0.029,0.162-0.056,0.241-0.088c0.142-0.058,0.28-0.124,0.417-0.19
                                                c0.081-0.039,0.164-0.075,0.243-0.117c0.123-0.065,0.241-0.137,0.36-0.208c0.091-0.055,0.184-0.107,0.273-0.166
                                                c0.1-0.066,0.194-0.138,0.291-0.208c0.102-0.075,0.205-0.147,0.304-0.227c0.079-0.064,0.153-0.134,0.23-0.201
                                                c0.106-0.094,0.214-0.187,0.315-0.287c0.068-0.067,0.131-0.139,0.196-0.208c0.1-0.106,0.2-0.21,0.293-0.323
                                                c0.072-0.086,0.136-0.177,0.204-0.265c0.078-0.102,0.157-0.201,0.23-0.307c0.092-0.135,0.175-0.275,0.258-0.416
                                                c0.04-0.067,0.083-0.13,0.121-0.198c0.36-0.652,0.628-1.362,0.782-2.114c0.104-0.503,0.152-1.01,0.152-1.512V86.313
                                                c0-7.681,6.249-13.93,13.931-13.93h0.433c7.682,0,13.931,6.249,13.931,13.93v72.025c0,0.277,0.018,0.551,0.047,0.82
                                                c-0.396,3.933,2.339,7.535,6.291,8.154l44.88,7.037c0.036,0.006,0.071,0.011,0.107,0.017c27.148,3.857,47.621,27.444,47.621,54.866
                                                v0.766c0,12.69-3.097,25.349-8.956,36.606l-20.345,39.088c-1.913,3.675-0.484,8.203,3.189,10.115c1.106,0.576,2.29,0.85,3.457,0.85
                                                c2.707,0,5.322-1.472,6.658-4.039l20.345-39.088c6.969-13.388,10.651-28.44,10.651-43.532v-0.766
                                                C274.828,212.275,268.706,195.883,257.591,183.075z"/>
                                            <path style="fill:#222220;" d="M146.735,37.79c4.143,0,7.5-3.357,7.5-7.5V7.5c0-4.143-3.357-7.5-7.5-7.5s-7.5,3.357-7.5,7.5v22.79
                                                C139.235,34.433,142.593,37.79,146.735,37.79z"/>
                                            <path style="fill:#222220;" d="M193.189,98.897c0,4.143,3.357,7.5,7.5,7.5h22.79c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5
                                                h-22.79C196.547,91.397,193.189,94.755,193.189,98.897z"/>
                                            <path style="fill:#222220;" d="M194.744,56.468c1.919,0,3.839-0.732,5.304-2.196l16.115-16.115c2.929-2.93,2.929-7.678,0-10.607
                                                c-2.93-2.928-7.678-2.928-10.607,0L189.44,43.664c-2.929,2.93-2.929,7.678,0,10.607C190.905,55.735,192.825,56.468,194.744,56.468z
                                                "/>
                                            <path style="fill:#222220;" d="M87.521,54.271c1.465,1.464,3.385,2.196,5.304,2.196s3.839-0.732,5.304-2.196
                                                c2.929-2.93,2.929-7.678,0-10.607L82.013,27.549c-2.93-2.928-7.678-2.928-10.607,0c-2.929,2.93-2.929,7.678,0,10.607L87.521,54.271
                                                z"/>
                                            <path style="fill:#222220;" d="M64.419,106.397h22.79c4.143,0,7.5-3.357,7.5-7.5s-3.357-7.5-7.5-7.5h-22.79
                                                c-4.143,0-7.5,3.357-7.5,7.5S60.276,106.397,64.419,106.397z"/>
                                        </g>
                                </svg>
                                <h3 class="widget-title pb-0 line-height-26">“La chance aide parfois, le travail toujours.”</h3>
                            </div>
                            <a href="#" class="theme-btn gradient-btn w-100">Contactez-Moi</a>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Informations générales </h3>
                            <div class="stroke-shape mb-4"></div>
                            <ul class="list-items list-items-style-2">
                                {% if professional.website %}
                                    <li><i class="la la-globe mr-2 text-color-2 font-size-18"></i><a href="{{ professional.website }}">{{ professional.website }}</a></li>
                                {% endif %}
                                {% if professional.user.email %}
                                    <li><i class="la la-envelope mr-2 text-color-2 font-size-18"></i><a href="mailto:{{ professional.user.email }}">{{ professional.user.email }}</a></li>
                                {% endif %}
                                {% if professional.user.phone %}
                                    <li><i class="la la-phone mr-2 text-color-2 font-size-18"></i><a href="tel:{{ professional.user.phone }}">{{ professional.user.phone }}</a></li>
                                {% endif %}
                                {% if professional.country %}
                                    <li><i class="la la-map-signs mr-2 text-color-2 font-size-18"></i><a href="javascript:void(0)">{{ professional.country.name }}{{ professional.region ? ", "~ professional.region.name : "" }}</a></li>
                                {% endif %}
                                {% if professional.languages|length > 0 %}
                                    <li><i class="la la-language mr-2 text-color-2 font-size-18"></i><a href="#">{{ professional.languages|map(l => "#{l.name}")|join(', ') }} <i class="la la-external-link ml-1"></i></a></li>
                                {% endif %}
                                <li><i class="la la-comment mr-2 text-color-2 font-size-18"></i><a href="#" data-toggle="modal" data-target="#messageModal">Envoyez un message</a></li>
                            </ul>
                        </div>
                        <div class="card-item card-item-layout-4">
                            <a href="#" class="card-image d-block">
                                <img src="{{ asset('assets/front/images/single-listing-img1.jpg') }}" class="card__img" alt="">
                                <span class="badge gradient-btn font-size-16 font-weight-semi-bold">50% de réduction</span>
                                <div class="card-content">
                                    <h4 class="card-title pb-3">Commandez 1 burger et obtenez 50 % de rabais sur le deuxième</h4>
                                    <span class="bg-white text-color py-1 px-2 rounded font-size-15 font-weight-medium">Expire le 14/10/2020</span>
                                </div>
                            </a>
                        </div>
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Rendez-vous</h3>
                            <div class="stroke-shape mb-4"></div>
                            <form method="post" class="form-box">
                                <div class="form-group">
                                    <span class="la la-calendar-o form-icon"></span>
                                    <input class="date-dropper-input form-control" type="text"  placeholder="Check in"/>
                                </div>
                                <div class="user-chosen-select-container">
                                    <select class="user-chosen-select">
                                        <option value="0">Time Slots</option>
                                        <option value="1">8:00am - 8:30am</option>
                                        <option value="2">9:00am - 9:30am</option>
                                    </select>
                                </div>
                            </form>
                            <div class="quantity-wrap d-flex align-items-center justify-content-between py-4">
                                <span class="font-weight-semi-bold"><i class="la la-user-plus mr-1"></i>Personnes:</span>
                                <div class="quantity-item d-flex align-items-center justify-content-end">
                                    <button class="qtyDec"><i class="la la-minus"></i></button>
                                    <input class="qtyInput" type="text" name="qty-input" value="0">
                                    <button class="qtyInc"><i class="la la-plus"></i></button>
                                </div>
                            </div>
                            <div class="btn-box">
                                <a href="booking.html" class="theme-btn gradient-btn w-100">Démandez un rendez-vous<i class="la la-arrow-right ml-2"></i></a>
                            </div>
                        </div>
                        {% set categories = professional.categoryProfessionals %}
                        {% if categories|length > 0 %}
                            <div class="sidebar-widget">
                                <h3 class="widget-title">Categories</h3>
                                <div class="stroke-shape mb-4"></div>
                                <div class="category-list">
                                    {% for category in categories|slice(0, 4) %}
                                        <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="d-block overflow-hidden mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="badge">{{ category.name }}</span>
                                                <span class="badge-count">{{ category.allProfessionals|length }}</span>
                                            </div>
                                        </a>
                                   {% endfor %}
                                    <div class="collapse collapse-content" id="showMoreOptionCollapse2">
                                        {% for category in categories|slice(4, categories|length) %}
                                            <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="d-block overflow-hidden mb-3">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span class="badge">{{ category.name }}</span>
                                                    <span class="badge-count">{{ category.AllProfessionals|length }}</span>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <a class="collapse-btn" data-toggle="collapse" href="#showMoreOptionCollapse2" role="button" aria-expanded="false" aria-controls="showMoreOptionCollapse2">
                                        <span class="collapse-btn-hide">{{ 'global.show_more'|trans }} <i class="la la-plus ml-1"></i></span>
                                        <span class="collapse-btn-show">{{ 'global.show_less'|trans }} <i class="la la-minus ml-1"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% if professional.socialUrl is not null %}
                            <div class="sidebar-widget">
                                <h3 class="widget-title">Suivre & Se Connecter</h3>
                                <div class="stroke-shape mb-4"></div>
                                <ul class="social-profile social-profile-styled">
                                    {% if facebook %}<li><a href="{{ facebook }}" class="facebook-bg" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="lab la-facebook-f"></i></a></li>{% endif %}
                                    {% if twitter %}<li><a href="{{ twitter }}" class="twitter-bg" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="lab la-twitter"></i></a></li>{% endif %}
                                    {% if instagram %}<li><a href="{{ instagram }}" class="instagram-bg" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="lab la-instagram"></i></a></li>{% endif %}
                                    {% if youtube %}<li><a href="{{ youtube }}" class="youtube-bg" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="la la-youtube"></i></a></li>{% endif %}
                                    {% if whatsapp %}<li><a href="{{ whatsapp }}" class="whatsapp-bg" data-toggle="tooltip" data-placement="top" title="Whatsapp"><i class="la la-whatsapp"></i></a></li>{% endif %}
                                    {% if pinterest %}<li><a href="{{ pinterest }}" class="pinterest-bg" data-toggle="tooltip" data-placement="top" title="pinterest"><i class="la la-pinterest"></i></a></li>{% endif %}
                                    {% if linkedin %}<li><a href="{{ linkedin }}" class="linkedin-bg" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="la la-linkedin"></i></a></li>{% endif %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="block-card mb-4">
                            <div class="block-card-header">
                                <h2 class="widget-title">Location</h2>
                                <div class="stroke-shape"></div>
                            </div>
                            <div class="block-card-body">
                                <div class="map-container height-250">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    {% include "front/modal/professional/share_link.html.twig" with {professional: professional} %}
    {% include "front/modal/professional/message_pro.html.twig" with {name: professional.user}%}

{% endblock %}

{% block javascripts %}
    {{ parent()}}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYzby4yYDVaXPmtu4jZAGR258K6IYwjIY&libraries"></script>
    <script src="{{ asset('assets/front/js/gmap-script.js') }}"></script>
    <script src="{{ asset('assets/front/js/jquery.MultiFile.min.js') }}"></script>
    <script src="{{ asset('assets/front/js/copy-text-script.js') }}"></script>
{% endblock %}