{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'Modification - '~ parent() }}{% endblock %}

{% block content %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">Modification</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>Modification</li>
        {% endblock %}
    {% endembed %}
    <section class="add-listing-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    {% embed "front/partials/professional/edit/breadcrumb.html.twig" %}
                        {% block breadcrumb_gallery %}
                            <a class="active" href="javascript:void(0)">{{ 'global.gallery'|trans }}</a>
                        {% endblock %}
                    {% endembed %}
                    <div class="block-card mb-4">
                        <div class="block-card-header">
                            <h2 class="widget-title">{{ 'global.gallery'|trans }}</h2>
                            <div class="stroke-shape"></div>
                        </div>
                        <div class="block-card-body">
                            {{ form_start(galleryForm, {'method': 'post', 'attr': {'id': 'gallery-form', 'class': 'form-box row'} }) }}
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <div class="form-group">
                                            {{ form_widget(galleryForm.videoType, {'attr': {'class': 'form-control'} }) }}
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <label class="label-text">{{ 'global.link'|trans }}</label>
                                        <div class="form-group error">
                                            <span class="la la-link form-icon"></span>
                                            {{ form_widget(galleryForm.videoUrl, {'required': false, 'attr': {'class': 'form-control', 'placeholder': 'Entrer votre lien'} }) }}
                                            {{ form_errors(galleryForm.videoUrl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <label class="label-text">{{ 'global.legend'|trans }}</label>
                                        <div class="form-group error">
                                            <span class="la la-pencil form-icon"></span>
                                            {{ form_widget(galleryForm.legend, {'required': false, 'attr': {'class': 'message-control form-control'} }) }}
                                            {{ form_errors(galleryForm.legend) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <label class="label-text">{{ 'global.gallery'|trans }}</label>
                                        <div class="file-upload-wrap">
                                            {{ form_widget(galleryForm.gallery, {'attr': {'class': 'file-upload-input with-preview', 'maxlength': '1'} }) }}
                                            <span class="file-upload-text"><i class="la la-upload mr-2"></i>{{ 'global.drop_file_here_or_click_to_upload'|trans }}</span>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="submit-wrap pt-3">
                                    <div class="btn-box mt-3 ml-3">
                                        <button type="submit" class="theme-btn gradient-btn border-0">{{'global.save'|trans}}</button>
                                    </div>
                                </div>
                            {{ form_end(galleryForm) }}
                        </div>
                    </div>
                    {% if app.user.professional.galleries|length > 0 %}
                        <div class="block-card mb-4">
                            <div class="block-card-header">
                                <h2 class="widget-title">{{ 'global.images'|trans }}</h2>
                                <div class="stroke-shape"></div>
                            </div>
                            <div class="block-card-body">
                                <div class="card-body row">
                                    {% for gallery in app.user.professional.galleries %}
                                        <div id="gallery_{{ gallery.id }}" style="background-image: url('{{ vich_uploader_asset(gallery, 'imageFile')}}')" class="col-lg-4 responsive-column gallery">
                                            <div class="links">
                                                <a href="{{ path('app_professional_gallery_image', {id: gallery.id})}}" data-edit class="edit d-inline-block">{{ 'global.edit'|trans }}</a>&nbsp;&nbsp;
                                                <a href="{{ path('app_professional_gallery_image_delete', {id: gallery.id})}}" data-delete data-token="{{ csrf_token('delete'~ gallery.id) }}" class="delete d-inline-block">{{ 'global.delete'|trans }}</a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    {% include "front/modal/professional/gallery_form.html.twig" %}
{% endblock %}

{% block stylesheets %}
    {% embed "front/partials/stylesheets.html.twig" %}
        {% block stylesheets_content %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('assets/front/css/jquery-te-1.4.0.css') }}">
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {% embed "front/partials/javascripts.html.twig" %}
        {% block javascripts_content %}
            {{ parent() }}
            <script src="{{ asset('assets/front/js/jquery-te-1.4.0.min.js') }}"></script>
            <script src="{{ asset('assets/front/js/jquery.MultiFile.min.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYzby4yYDVaXPmtu4jZAGR258K6IYwjIY&libraries"></script>
            <script src="{{ asset('assets/front/js/map-add.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}