<div class="modal fade modal-container message-form" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center mh-bg-2">
                <h5 class="modal-title" id="messageModalTitle">{{'global.send_a_message'|trans}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times-circle"></span>
                </button>
            </div>
            <div class="modal-body">
                <p class="font-size-15 font-weight-medium pb-2">
                    <span class="text-color">À :</span> {{ professional.user }}
                </p>
                <form id="form_message" method="post" class="form-box">
                    <div class="input-box error">
                        <label class="label-text">Partagez quelques détails afin que nous puissions vous mettre en contact avec le freelance</label>
                        <div class="form-group">
                            <span class="la la-pencil form-icon"></span>
                            <textarea id="message" class="message-control form-control" name="message" placeholder="Ecrivez quelque chose..."></textarea>
                            <input type="hidden" id="sender_id" value="{{ app.user.id }}">
                            <input type="hidden" id="recipient_id" value="{{ professional.user.id }}">
                            <input type="hidden" id="professional_ajax_url" value="{{ path("app_professional_ajax") }}">
                        </div>
                    </div>
                    <div class="btn-box">
                        <p class="font-size-13 font-weight-medium pb-2 line-height-16">Nous enverrons vos informations à l'entreprise pour vous aider à obtenir une réponse.</p>
                        <button id="btn_message" type="submit" class="theme-btn gradient-btn w-100">
                            {{'global.send_a_message'|trans}}<i class="la la-arrow-right ml-2"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>