<div class="modal fade modal-container" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center mh-bg">
                <h5 class="modal-title" id="shareModalTitle">Partagez cette page</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-times-circle"></span>
                </button>
            </div>
            {% set professional_url = absolute_url(path('app_professional_show', {'slug': professional.user.slug})) %}
            <div class="modal-body">
                <div class="copy-to-clipboard mb-3">
                    <form action="#" class="form-box d-flex align-items-center">
                        <span class="text-success-message">Lien Copié!</span>
                        <input id="share_link" type="text" class="form-control copy-input pl-3" value="{{ professional_url }}">
                        <div class="btn-box pl-2">
                            <button type="button" class="theme-btn gradient-btn copy-text">Copier</button>
                        </div>
                    </form> 
                </div>
                <h3 class="widget-title">Partagez sur</h3>
                <ul class="social-profile social-profile-colored">
                    <li><a href="{{ professional_url }}" class="share_facebook facebook-bg"><i class="la la-facebook-f"></i></a></li>
                    <li><a data-title="{{ professional.user }}" href="{{ professional_url }}" class="share_twitter twitter-bg"><i class="la la-twitter"></i></a></li>
                    <li><a href="{{ professional_url }}" class="share_instagram instagram-bg"><i class="la la-instagram"></i></a></li>
                    <li><a href="{{ professional_url }}" class="share_linkedin linkedin-bg"><i class="la la-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>