<div class="sidebar-menu">
    {% block main_menu_before %}{% endblock %}
    <ul class="menu">
        {% block main_menu %}
            {% for menuItem in ea.mainMenu.items %}
                {% block menu_item %}
                    <li class="{{ menuItem.isMenuSection ? 'sidebar-title' : 'sidebar-item' }} {{ menuItem.hasSubItems ? 'has-sub' }} {{ ea.mainMenu.isSelected(menuItem) ? 'active' }}">
                        {{ _self.render_menu_item(menuItem) }}
                        {% if menuItem.hasSubItems %}
                            <ul class="submenu">
                                {% for menuSubItem in menuItem.subItems %}
                                    {% block menu_subitem %}
                                        <li class="{{ menuSubItem.isMenuSection ? 'sidebar-title' : 'submenu-item' }} {{ ea.mainMenu.isSelected(menuSubItem) ? 'active' }}">
                                            {{ _self.render_menu_item(menuSubItem) }}
                                        </li>
                                    {% endblock menu_subitem %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endblock menu_item %}
            {% endfor %}
        {% endblock main_menu %}
    </ul>
    {% block main_menu_after %}{% endblock %}
</div>
{% macro render_menu_item(item) %}
    {% if item.isMenuSection %}
        {% if item.icon is not empty %}<i class="{{ item.icon }}"></i>{% endif %}
        <span class="{{ item.cssClass }}">{{ item.label|raw }}</span>
    {% else %}
        <a href="{{ item.linkUrl }}" class="sidebar-link {{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
            {% if item.icon is not empty %}<i class="{{ item.icon }}"></i>{% endif %}
            <span>{{ item.label|raw }}</span>
        </a>
    {% endif %}
{% endmacro %}