{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'global.home'|trans ~' - '~ parent() }}{% endblock %}

{% block content %}
                {% block hero_wrapper %}
                    <section class="hero-wrapper overflow-hidden">
                        {% block banner %}
                            <div class="overlay"></div>
                            {{ render(controller('App\\Controller\\Front\\HomeController::banner')) }}
                        {% endblock %}
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hero-heading text-center">
                                        <div class="section-heading">
                                            <h2 class="sec__title cd-headline slide">
                                                Qui Recherchez-vous ?
                                                <span class="cd-words-wrapper py-0">
                                                {% for category in catspoppro() %}
                                                    <b class="{{ loop.first ? "is-visible" : "" }}">{{ category.name|e }}</b>
                                                {% endfor %}
                                            </span>
                                            </h2>
                                            <form method="post" action="{{ path('ping') }}">
                                                <button type="submit">ping</button>
                                            </form>
                                            <p class="sec__desc">
                                                Trouver des professionnels qualifiés pour vous rendre le meilleur service.
                                            </p>
                                        </div>
                                    </div>
                                    <form action="{{ path('app_professional_search') }}" method="get">
                                        <div class="main-search-input">
                                            <div class="main-search-input-item form-box">
                                                <div class="form-group mb-0">
                                                    <span class="la la-search form-icon"></span>
                                                    <input name="words" class="form-control" type="search" placeholder="De quoi avez-vous besoin ?">
                                                </div>
                                            </div>
                                            <div class="main-search-input-item user-chosen-select-container">
                                                <select name="category" class="user-chosen-select">
                                                    <option value="0">Selectionnez une categorie</option>
                                                    {% for category in catspro() %}
                                                        <option value="{{ category.id }}">{{ category.name|title }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="main-search-input-item form-box">
                                                <div class="form-group mb-0">
                                                    <span class="la la-map-marker form-icon"></span>
                                                    <input name="address" class="form-control" type="search" placeholder="Entrez une adresse">
                                                </div>
                                            </div>
                                            <div class="main-search-input-item">
                                                <button class="theme-btn gradient-btn border-0 w-100" type="submit"><i class="la la-search mr-2"></i>{{ 'global.search'|trans }}</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="highlighted-categories">
                                        {% if catspoppro()|length > 0 %}
                                            <div class="highlight-lists d-flex justify-content-center mt-4">
                                                {% for category in catspoppro()|slice(0, 6) %}
                                                    <div class="hero-category-item">
                                                        <a href="{{ path("app_category_pro", {"slug" : category.slug}) }}" class="d-block hero-cat-link hover-y">
                                                            <span class="icon-element bg-1 mx-auto"><i class="la la-building-o"></i></span>
                                                            {{ category.name|e }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="svg-bg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                                <path fill="#F5F7FC" class="elementor-shape-fill" d="M500,97C126.7,96.3,0.8,19.8,0,0v100l1000,0V1C1000,19.4,873.3,97.8,500,97z"></path>
                            </svg>
                        </div>
                    </section>
                {% endblock %}

                {% block vip_home %}
                    <section class="card-area section-padding">
                        <div class="container">
                            <div class="row">
                                {% for message in app.flashes("info") %}
                                    <div class="col-lg-12 alert alert-success font-size-15 text-color" role="alert">
                                        <span class="font-weight-semi-bold">{{ message }}</span>
                                    </div>
                                {% endfor %}
                                <div class="col-lg-12">
                                    <div class="section-heading text-center">
                                        <h2 class="sec__title">{{ 'global.vip_professionals'|trans }}</h2>
                                        <p class="sec__desc">
                                            On aime, on adore travailler avec ceux qui savent ce qu'ils font.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% if vippros()|length > 0 %}
                                <div class="row padding-top-60px">
                                    {% for professional in vippros()|slice(0, 8) %}
                                        {% embed "front/partials/professional/box.html.twig" with {'professional' : professional} %}{% endembed %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="more-link-wrap text-right">
                                <a href="{{ path("app_professional_vip") }}" class="btn-text font-weight-medium">{{ 'global.see_more_professionals_ready_to_help_you'|trans }} <i class="la la-arrow-right icon"></i></a>
                            </div>
                        </div>
                    </section>
                {% endblock %}

                {% block category_area %}
                    <section class="category-area bg-gray arrow-down-shape position-relative section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-heading text-center">
                                        <h2 class="sec__title">{{ 'global.popular_categories'|trans }}</h2>
                                    </div>
                                </div>
                            </div>
                            {% if catspoppro()|length > 0 %}
                                <div class="row mt-5">
                                {% for category in catspoppro()|slice(0, 8) %}
                                    {% include "front/partials/professional/category.html.twig" with {"category" : category} %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            <div class="more-btn-box pt-3 text-center">
                                <a href="{{ path("app_category_popular") }}" class="btn-gray hover-scale-2">{{ 'global.browse_all_categories'|trans }} <i class="la la-arrow-right ml-2"></i></a>
                            </div>
                        </div>
                    </section>
                {% endblock %}

                {% block need_area %}
                    <section class="card-area section-padding vip">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-heading text-center">
                                        <h2 class="sec__title">Les besoins les plus récents</h2>
                                    </div>
                                </div>
                            </div>
                            {% if needs()|length > 0 %}
                                <div class="row mt-5">
                                {% for need in needs()|slice(0, 9) %}
                                    {% include "front/partials/professional/need.html.twig" with {need: need} %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            <div class="more-btn-box pt-3 text-center">
                                <a href="{{ path("app_professional_need") }}" class="btn-gray hover-scale-2">Parcourir tous les besoins <i class="la la-arrow-right ml-2"></i></a>
                            </div>
                        </div>
                    </section>
                {% endblock %}

                {% block new_home %}
                    <section class="card-area section-padding vip">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-heading text-center">
                                        <h2 class="sec__title">{{ 'global.new_professionals'|trans }}</h2>
                                    </div>
                                </div>
                            </div>
                            {% if newpros()|length > 0 %}
                                <div class="row padding-top-60px">
                                    {% for professional in newpros()|slice(0, 8) %}
                                        {% embed "front/partials/professional/box.html.twig" with {'professional' : professional} %}{% endembed %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="more-link-wrap text-right">
                                <a href="{{ path("app_professional_new") }}" class="btn-text font-weight-medium">{{ 'global.see_more_professionals_ready_to_help_you'|trans }} <i class="la la-arrow-right icon"></i></a>
                            </div>
                        </div>
                    </section>
                {% endblock %}
             
                {% block stat_area %}
                    {% include "front/partials/stats.html.twig" %}
                {% endblock %}

                {% block cta_area %}
                    {% include "front/partials/cta.html.twig" %}
                {% endblock %}

                <div class="section-block"></div>
        
                {% block testimonial_area %}
                    {% if testimonials|length > 0 %}
                        {% include "front/partials/testimonial.html.twig" with {"testimonials" : testimonials} %}
                    {% endif %}
                {% endblock %}

                <div class="section-block"></div>

                {% block blog_area %}
                    <section class="blog-area section-padding overflow-hidden">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="section-heading text-center">
                                        <h2 class="sec__title">{{ 'global.latest_tips_&_articles'|trans }}</h2>
                                        <p class="sec__desc">
                                            Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, <br>
                                            a feugiat eros. Nunc ut lacinia tortors.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% if articles|length > 0 %}
                                <div class="row padding-top-60px">
                                    <div class="col-lg-12">
                                        <div class="card-carousel owl-trigger-action">
                                        {% for article in articles|slice(0, 6) %}
                                            {% include "front/partials/blog/article.html.twig" with {"article" : article} %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="more-btn-box pt-5 text-center">
                                <a href="{{ path("app_blog") }}" class="theme-btn gradient-btn"><i class="la la-list-alt mr-2"></i>{{ 'global.see_all_posts'|trans }}</a>
                            </div>
                        </div>
                    </section>
                {% endblock %}    
{% endblock %}