{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'Inscription - '~ parent() }}{% endblock %}

{% block content %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">Inscrivez-Vous</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
            <li>Inscription</li>
        {% endblock %}
    {% endembed %} 
    <section>
        <div class="register">
            {{ form_start(registration, {'method': 'post', 'attr': {'class': 'form-box'} }) }}
                <div class="input-box">
                    <label class="label-text">{{ 'global.email'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-envelope form-icon"></span>
                        {{ form_widget(registration.email, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.email_address'|trans }}) }}
                        {{ form_errors(registration.email) }}
                    </div>
                </div>
                <div class="input-box">
                    <label class="label-text">{{ 'global.lastname'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-user form-icon"></span>
                        {{ form_widget(registration.lastname, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.lastname'|trans }}) }}
                        {{ form_errors(registration.lastname) }}
                    </div>
                </div>
                <div class="input-box">
                    <label class="label-text">{{ 'global.firstname'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-user form-icon"></span>
                        {{ form_widget(registration.firstname, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.firstname'|trans }}) }}
                        {{ form_errors(registration.firstname) }}
                    </div>
                </div>
                <div class="input-box">
                    <label class="label-text">{{ 'global.address'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-map form-icon"></span>
                        {{ form_widget(registration.address, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.address'|trans }}) }}
                        {{ form_errors(registration.address) }}
                    </div>
                </div>
                <div class="input-box">
                    <label class="label-text">{{ 'global.password'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-lock form-icon"></span>
                        {{ form_widget(registration.plainPassword.first, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.password'|trans }}) }}
                        {{ form_errors(registration.plainPassword.first) }}
                    </div>
                </div>
                <div class="input-box">
                    <label class="label-text">{{ 'global.confirmation'|trans }}</label>
                    <div class="form-group error">
                        <span class="la la-lock form-icon"></span>
                        {{ form_widget(registration.plainPassword.second, {'required': false, 'attr': {'class': 'form-control form-control-styled', 'placeholder':'Confirmation de mot de passe'}}) }}
                        {{ form_errors(registration.plainPassword.second) }}
                    </div>
                </div>
                <div class="input-box py-4 user-action-meta">
                    <div class="custom-checkbox error">
                        {{ form_widget(registration.agreeTerms, {'required': false}) }}
                        <label for="registration_form_agreeTerms" class="font-size-14">By signing up, you agree to our <a href="privacy-policy.html" class="text-color-2">Privacy Policy.</a></label>
                        {{ form_errors(registration.agreeTerms) }}
                    </div>
                </div>
                <div class="btn-box">
                    <button type="submit" class="theme-btn gradient-btn w-100">
                        <i class="la la-user-plus mr-1"></i> {{ 'global.save'|trans }}
                    </button>
                    <p class="sub-text-box text-right pt-1 font-weight-medium font-size-14">
                        Déjà sur {{ website_title }}? <a class="text-color-2" href="{{ path('app_login') }}">{{ 'global.login'|trans }}</a>
                        </p>
                </div>
                <div class="icon-element font-size-16 font-weight-semi-bold mt-5 mb-4 mx-auto">
                                    {{ 'global.or'|trans }}
                </div>
                <div class="text-center">
                    <p class="font-size-15 font-weight-medium">Connectez-vous avec un réseau social</p>
                    <ul class="social-profile social-profile-colored py-3">
                        <li>
                            <a href="{{ path('connect_google_start') }}" class="google-bg mx-1" data-toggle="tooltip" data-placement="top" title="Google">
                                <i class="lab la-google"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('connect_facebook_start') }}" class="facebook-bg mx-1" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="lab la-facebook-f"></i>
                            </a>
                        </li>
                        <li> 
                            <a href="{{ path('connect_linkedin_start') }}" class="linkedin-bg mx-1" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="lab la-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="font-size-15 pb-3">Don't worry, we never any post to your social profile.</p>
                </div>
            {{ form_end(registration) }}
        </div>
    </section>
{% endblock %}