{% extends 'front/blog/layout.html.twig' %}

{% block meta %}
    <meta name="description" content="{{ article.content|striptags|u.truncate(100, '...', false) }}">
    <meta name="keywords" content="{{ article.keywords|map(k => "#{k.name}")|join(', ') }}">
{% endblock %}

{% block title %}{{ article.title ~' - '~ parent() }}{% endblock %}

{% block breadcrumb_blog_area %}
    {% embed "front/partials/breadcrumb.html.twig" %}
        {% block breadcrumb_heading %}
            <div class="section-heading">
                <h2 class="sec__title text-white font-size-40 mb-0">{{ article.title|title }}</h2>
            </div>
        {% endblock %}
        {% block breadcrumb_links %}
                <li><a href="{{ path('app_blog') }}">{{ 'global.blog'|trans }}</a></li>
                <li>{{ article.title|title }}</li>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block blog_article %}
    <section class="blog-area section-padding">
        <div class="container">
            {% for message in app.flashes("success") %}
                <div class="alert alert-success font-size-15 text-color" role="alert">
                    <span class="font-weight-semi-bold">{{ message }}</span>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-lg-8">
                    <div class="card-item single-card">
                        <div class="card-image after-none">
                            <div class="single-slider owl-trigger-action owl-trigger-action-3">
                                {% for cover in article.articleImages %}
                                    <div class="single-slider-item">
                                        <img src="{{ vich_uploader_asset(cover, 'imageFile') }}" class="card__img" alt="{{ article.title }}">
                                    </div>
                                {% else %}
                                    <div class="single-slider-item">
                                        <img src="{{ asset('assets/front/images/img10.jpg') }}" class="card__img" alt="{{ article.title }}">
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title font-size-25 mb-0">{{ article.title|e }}</h4>
                            <div class="d-flex flex-wrap align-items-center pt-3">
                                <a href="#" class="d-flex align-items-center text-gray mr-3">
                                    <div class="user-thumb user-thumb-sm d-inline-block mr-2">
                                        <img src="{{ asset('assets/front/images/avatar-img.jpg') }}" alt="{{ article.admin.user.firstname }}">
                                    </div>
                                    <span class="font-weight-medium">{{ 'global.by'|trans }} {{ article.admin.user.lastname|capitalize }}</span>
                                </a>
                                <ul class="listing-meta d-flex align-items-center pt-0">
                                    <li class="mr-3">
                                        <i class="la la-calendar mr-1"></i>{{ article.dateAdd|format_date() }}
                                    </li>
                                    <li class="mr-3">
                                        <i class="la la-tags mr-1"></i>
                                        {% for category in article.categoryArticles %}
                                            <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="listing-cat-link">{{ category.name }}</a>{{ loop.last ? "" : ","}}
                                        {% endfor %}
                                    </li>
                                    <li class="mr-3">
                                        <i class="la la-comment mr-1"></i>
                                        <a href="javascript:void(0)" class="listing-cat-link">{{ comments|length }} {{ 'global.comment'|trans }}{{ comments|length  > 1 ? "s" : ""}}</a>
                                    </li>
                                    <li>
                                        <i class="la la-share-alt mr-1"></i>
                                        <a href="javascript:void(0)" class="listing-cat-link">{{ article.share }} {{ 'global.share'|trans }}{{ article.share > 1 ? "s" : ""}}</a>
                                    </li>
                                </ul>
                            </div>
                            <br/>{{ article.content|raw }}<br/>
                            {% if article.keywords|length > 0 %}
                                <h3 class="widget-title">{{ 'global.keywords'|trans }}:</h3>
                                <ul class="tag-list tag-list-sm mb-4">
                                    {% for keyword in article.keywords %}
                                        <li><a href="javascript:void(0)">{{ keyword.name|e }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <h3 class="widget-title">{{ 'global.share_this_post'|trans }}:</h3>
                            <ul class="social-profile social-profile-styled">
                                {% set post_url = absolute_url(path('app_blog_article', {'slug': article.slug})) %}
                                <li><a href="{{ post_url }}" class="share_facebook facebook-bg" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="lab la-facebook-f"></i></a></li>
                                <li><a data-title="{{ article.title }}" href="{{ post_url }}" class="share_twitter twitter-bg" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="lab la-twitter"></i></a></li>
                                <li><a href="{{ post_url }}" class="share_instagram instagram-bg" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="lab la-instagram"></i></a></li>
                                <li><a href="{{ post_url }}" class="share_linkedin linkedin-bg" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="la la-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="block-card mb-4">
                        <div class="block-card-header">
                            <h2 class="widget-title pb-0">{{ 'global.comment'|trans }}{{ comments|length > 1 ? 's' : '' }} <span class="ml-1 text-color-2">({{ comments|length }})</span></h2>
                        </div>
                        <div class="block-card-body">
                            <div class="comments-list">
                                {% for comment in comments %}
                                    <div class="comment">
                                        <div class="user-thumb user-thumb-lg flex-shrink-0">
                                            <img src="{{ asset('assets/front/images/avatar-img.jpg') }}" alt="author-img">
                                        </div>
                                        <div class="comment-body">
                                            <div class="meta-data">
                                                <h4 class="comment__title">{{ comment.name }}</h4>
                                                <span class="comment__meta">{{ comment.dateAdd|format_date() }}</span>
                                            </div>
                                            <p class="comment-desc">
                                                {{ comment.content }}
                                            </p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="block-card">
                        <div class="block-card-header">
                            <h2 class="widget-title pb-0">{{ 'global.add_a_comment'|trans }}</h2>
                            <p>{{ 'global.your_e-mail_address_will_not_be_published._required_fields_are_marked_with_an_*.'|trans }}</p>
                        </div>
                        <div class="block-card-body">
                            {{ form_start(commentForm, {'method': 'post', 'attr': {'class': 'form-box row'} }) }}
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <label class="label-text">{{ 'global.name'|trans }}</label>
                                        <div class="form-group error">
                                            <span class="la la-user form-icon"></span>
                                            {{ form_widget(commentForm.name, {'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.your_name'|trans } }) }}
                                            {{ form_errors(commentForm.name) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-box">
                                        <label class="label-text">{{ 'global.email'|trans }}</label>
                                        <div class="form-group error">
                                            <span class="la la-envelope-o form-icon"></span>
                                            {{ form_widget(commentForm.email, {'attr': {'class': 'form-control form-control-styled', 'placeholder': 'global.email_address'|trans } }) }}
                                            {{ form_errors(commentForm.email) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="input-box">
                                        <label class="label-text">{{ 'global.message'|trans }}</label>
                                        <div class="form-group error">
                                            <span class="la la-pencil form-icon"></span>
                                            {{ form_widget(commentForm.content, {'attr': {'class': 'form-control message-control', 'placeholder': 'global.write_your_comment_here'|trans } }) }}
                                            {{ form_errors(commentForm.content) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="custom-checkbox mb-4">
                                        {{ form_widget(commentForm.agreeChb2) }}
                                        <label for="comment_form_agreeChb2" class="text-gray font-size-15">{{ 'global.save_my_name_and_email_address_in_this_browser_for_the_next_time_i_comment'|trans }}.</label>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="btn-box pt-1">
                                        <button type="submit" class="theme-btn gradient-btn border-0">{{ 'global.post_a_comment'|trans }}<i class="la la-arrow-right ml-2"></i></button>
                                    </div>
                                </div>
                            {{ form_end(commentForm) }}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar mb-0">
                        <div class="sidebar-widget">
                            <h3 class="widget-title">{{ 'global.search'|trans }}</h3>
                            <div class="stroke-shape mb-4"></div>
                            <form action="{{ path('app_blog_search') }}" method="get" class="form-box">
                                <div class="form-group">
                                    <span class="la la-search form-icon"></span>
                                    <input type="search" name="words" id="words" class="form-control form-control-styled" placeholder="Que cherchez-vous ?">
                                    <p class="font-size-13">Cliquez sur le bouton Rechercher</p>
                                </div>
                                <div class="form-group mb-0">
                                    <button type="submit" class="theme-btn gradient-btn border-0 w-100">
                                        <i class="la la-search mr-2"></i>{{ 'global.search'|trans }}
                                    </button>
                                </div>
                            </form>
                        </div> 
                        <div class="sidebar-widget">
                            <h3 class="widget-title">Astuces</h3>
                            <div class="stroke-shape mb-4"></div>
                            <div class="card-item card-item-layout-4 mb-0">
                                <a href="#" class="card-image d-block">
                                    <img src="{{ asset('assets/front/images/img-loading.png') }}" data-src="{{ asset('assets/front/images/img31.jpg') }}" class="card__img lazy" alt="">
                                    <span class="badge">Commencez maintenant</span>
                                    <div class="card-content">
                                        <h4 class="card-title pb-2 font-size-18 line-height-26">Want to learn how to code in 7 weeks?</h4>
                                        <span class="bg-white text-color py-1 px-2 rounded font-size-14 font-weight-medium">Check it out <i class="la la-angle-right ml-1"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% set categories = catsart() %} 
                        {% if categories|length > 0 %}
                        <div class="sidebar-widget">
                            <h3 class="widget-title">{{ 'global.filter_by_categories'|trans }}</h3>
                            <div class="stroke-shape mb-4"></div>
                            <div class="category-list">
                                {% for category in categories|slice(0, 4) %}
                                    <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="d-block overflow-hidden mb-3">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="badge">{{ category.name }}</span>
                                            <span class="badge-count">{{ category.articles|length }}</span>
                                        </div>
                                    </a>
                                {% endfor %}
                                <div class="collapse collapse-content" id="showMoreOptionCollapse2">
                                    {% for category in categories|slice(4, categories|length) %}
                                        <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="d-block overflow-hidden mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="badge">{{ category.name }}</span>
                                                <span class="badge-count">{{ category.articles|length }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                                <a class="collapse-btn" data-toggle="collapse" href="#showMoreOptionCollapse2" role="button" aria-expanded="false" aria-controls="showMoreOptionCollapse2">
                                    <span class="collapse-btn-hide">{{ 'global.show_more'|trans }} <i class="la la-plus ml-1"></i></span>
                                    <span class="collapse-btn-show">{{ 'global.show_less'|trans }} <i class="la la-minus ml-1"></i></span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if article.keywords|length > 0 %}
                            <div class="sidebar-widget">
                                <h3 class="widget-title">{{ 'global.keywords'|trans }}</h3>
                                <div class="stroke-shape mb-4"></div>
                                <ul class="tag-list">
                                    {% for keyword in article.keywords %}
                                        <li><a href="javascript:void(0)">{{ keyword.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <div class="sidebar-widget">
                            <div class="section-tab section-tab-layout-2 mb-4">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="popular-tab" data-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="true">
                                            {{ 'global.popular'|trans }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="false">
                                            {{ 'global.recent'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                                    {% for article in popart()|slice(0, 5) %}
                                        {% set image = article.articleImages is defined and article.articleImages is not empty ? vich_uploader_asset(article.articleImages[0], 'imageFile') : asset('assets/front/images/img10.jpg')  %}
                                        {% set categories = article.categoryArticles %}
                                        <div class="mini-list-card">
                                            <div class="mini-list-img">
                                                <a href="{{ path('app_blog_article', {'slug': article.slug}) }}" class="d-block">
                                                    <img src="{{ image }}" alt="{{ article.title }}">
                                                </a>
                                            </div>
                                            <div class="mini-list-body">
                                            <span class="category-link after-none pl-0 font-size-14 font-weight-medium">
                                                {% for category in categories %}
                                                    <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="listing-cat-link">{{ category.name }}</a>{{ loop.last ? "" : ","}}
                                                {% endfor %}
                                            </span>
                                                <h4 class="mini-list-title"><a href="{{ path('app_blog_article', {'slug': article.slug}) }}">{{ article.title }}</a></h4>
                                                <span class="category-link after-none pl-0 font-size-14 font-weight-medium">
                                                {{ article.dateAdd|format_date('medium', '', null, app.request.locale) }}
                                            </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane fade" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                                    {% for article in lastfiveart() %}
                                        {% set image = article.articleImages is defined and article.articleImages is not empty ? vich_uploader_asset(article.articleImages[0], 'imageFile') : asset('assets/front/images/img10.jpg')  %}
                                        {% set categories = article.categoryArticles %}
                                        <div class="mini-list-card">
                                            <div class="mini-list-img">
                                                <a href="{{ path('app_blog_article', {'slug': article.slug}) }}" class="d-block">
                                                    <img src="{{ image }}" alt="{{ article.title }}">
                                                </a>
                                            </div>
                                            <div class="mini-list-body">
                                            <span class="category-link after-none pl-0 font-size-14 font-weight-medium">
                                                {% for category in categories %}
                                                    <a href="{{ path("app_blog_category", {"slug" : category.slug}) }}" class="listing-cat-link">{{ category.name }}</a>{{ loop.last ? "" : ","}}
                                                {% endfor %}
                                            </span>
                                                <h4 class="mini-list-title"><a href="{{ path('app_blog_article', {'slug': article.slug}) }}">{{ article.title }}</a></h4>
                                                <span class="category-link after-none pl-0 font-size-14 font-weight-medium">
                                                {{ article.dateAdd|format_date('medium', '', null, app.request.locale) }}
                                            </span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
