<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="author" content="Pambe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% block meta %}
        {% endblock %}

        <link rel="icon" href="{{ asset('assets/front/images/favicon.png') }}">

        <title>{% block title %}{{ website_title }}{% endblock %}</title>
        
        {% block stylesheets %}
            {% embed "front/partials/stylesheets.html.twig" %}{% endembed %}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/front/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/front/css/custom.css') }}">
    </head>
    <body>
        {% block body %}
            {% block loader_container %}
                <div class="loader-container">
                    <div class="loader-ripple">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            {% endblock %}

            {% block header %} 
                {% embed "front/partials/header.html.twig" %}{% endembed %}
            {% endblock %}

            {% block content %}{% endblock %}
           
            {% embed "front/partials/footer.html.twig" %}{% endembed %}

            {% block back_to_top %}
                <div id="back-to-top">
                    <i class="la la-arrow-up" title="Go top"></i>
                </div>
            {% endblock %}

            {% include "front/modal/professional/search_filter.html.twig" %}

            {% include "front/modal/login.html.twig" %}

            {% include "front/modal/register.html.twig" %}

            {% include "front/modal/resetpassword.html.twig" %}

        {% endblock %}

        {% block javascripts %}
            {% embed "front/partials/javascripts.html.twig" %}{% endembed %}
        {% endblock %}
        <script src="{{ asset('assets/front/js/main.js') }}"></script>
        <script src="{{ asset('assets/front/js/custom.js') }}"></script>
        <script>
            const eventSource = new EventSource("{{ mercure('https://example.com/my-private-topic')|escape('js') }}");
            eventSource.onmessage = event => {
                console.log(JSON.parse(event.data));
            }
            window.addEventListener('beforeunload', function(){
                if(eventSource != null){
                    eventSource.close();
                }
            });
        </script>
        <!-- Messenger Plugin de discussion Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin de discussion code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "100865155624247");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v13.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    </body>
</html>