{% extends 'front/account/index.html.twig' %}

{% block title %}{{ 'Conversations - '~ parent() }}{% endblock %}

{% block account_content %}
    <div class="user-listing-detail-wrap">
        <div class="block-card mb-3">
            <div class="block-card-header">
                <h2 class="widget-title pb-0">Conversations</h2>
            </div>
            <div class="block-card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="block-card dashboard-card mb-4 px-0 pb-0">
                            <div class="block-card-body">
                                <div class="online-user-box">
                                    <div class="online-user-list">
                                        <div class="generic-list chat-list scrollable-content scrollbar-hidden">
                                            {% for conversation in conversations %}
                                                {% set nb_of_message = conversation.messages|filter((message) => message.sender != app.user and message.isRead == false)|length %}
                                                {% set message = conversation.messages|last %}
                                                {% if message != false %}
                                                    {% set user = message.sender != app.user ? message.sender : message.recipient %}
                                                    {% set profile = user.profile and user.profile.image ? vich_uploader_asset(user.profile, 'imageFile') : asset('assets/front/images/photoshop.png') %}
                                                    <a class="generic-list-item d-flex align-items-center" href="{{ path('app_account_message', {id: conversation.id}) }}">
                                                        <div class="user-thumb flex-shrink-0 position-relative">
                                                            <img src="{{ profile }}" alt="{{ user }}">
                                                        </div>
                                                        <div class="ml-2">
                                                            <p class="text-color font-size-14 font-weight-medium">{{ message.content|u.truncate(100, '...', false) }}</p>
                                                            <p class="small text-gray">{{ user }} · {{ message.dateAdd|format_date }} 
                                                                {% if nb_of_message > 0 %}
                                                                    <span style="color: #fff; font-size: 75%;" class="badge badge-info ml-1">{{ nb_of_message }}</span>
                                                                {% endif %}
                                                            </p>
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            {% endfor %} 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}