{% extends 'front/layout.html.twig' %}

{% block title %}{{ 'global.my_account'|trans ~' - '~ parent() }}{% endblock %}

{% block header %}
    {% embed "front/partials/header.html.twig" %}
        {% block header_class %}header-area position-inherit top-auto bg-white{% endblock %} 
        {% block header_top_bar_class %}header-top-bar bg-dark py-2 padding-right-30px padding-left-30px{% endblock %}
        {% block header_bottom_bar_class %}header-top-bar bg-dark{% endblock %}
        {% block header_menu_wrapper %}header-menu-wrapper padding-right-30px padding-left-30px additional-wrapper{% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {% set profile = app.user.profile and app.user.profile.image is not null ? vich_uploader_asset(app.user.profile, 'imageFile') : asset('assets/front/images/photoshop.png') %}
    <section class="breadcrumb-area bg-gray user-bread-bg pt-3 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-content d-flex flex-wrap align-items-end justify-content-between">
                        <div class="d-flex align-items-end">
                            <div class="user-thumb user-thumb-xl bread-thumb mr-3 flex-shrink-0">
                                <img src="{{ profile|imagine_filter('account_profile') }}" alt="{{ app.user }}">
                            </div>
                            <div class="section-heading pb-3">
                                <h2 class="sec__title mb-0 font-size-28 line-height-30">
                                    <span>{{ app.user }}</span>
                                    {% if is_granted('edit', app.user) and app.user.professional and app.user.professional.verified %}
                                        <i class="la la-check-circle ml-1 font-size-24 text-success" data-toggle="tooltip" data-placement="top" title="{{ 'global.certified'|trans }}"></i>
                                    {% endif %}
                                </h2>
                                <p class="sec__desc pt-1 font-size-16 line-height-22">{{ 'global.member_since'|trans }} {{ app.user.dateAdd|format_date() }}</p>
                                <p class="sec__desc pt-1 font-size-16 line-height-22"><i class="la la-map-marker mr-1"></i>{{ app.user.address }}</p>
                            </div>
                        </div>
                        {% if is_granted('edit', app.user) and app.user.professional %}
                            <div class="btn-box bread-btns d-flex align-items-center pb-3">
                                <span class="btn-gray mr-2"><i class="la la-star-o mr-1"></i><span class="text-color font-weight-semi-bold mr-1">{{ app.user.professional.reviews|length }}</span>{{ 'global.reviews'|trans }}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="user-detail-area padding-top-60px padding-bottom-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <h3 class="widget-title">{{ 'global.my_account'|trans }}</h3>
                        <div class="stroke-shape mb-4"></div>
                        <ul class="list-items list--items list--items-2 list-items-style-2">
                            <li><span class="text-color mr-1"><i class="la la-info mr-2 text-color-2 font-size-18"></i></span><a href="{{ path('app_account') }}"> Mes informations</a></li>
                            <li><span class="text-color mr-1"><i class="la la-address-card  mr-2 text-color-2 font-size-18"></i></span><a href="{{ path('app_account_coordonnee') }}"> Mes coordonnées</a></li>
                            <li><span class="text-color mr-1"><i class="la la-tag mr-2 text-color-2 font-size-18"></i> </span><a href="{{ path('app_account_need') }}">Mes besoins</a></li>
                            <li><span class="text-color mr-1"><i class="la la-bell mr-2 text-color-2 font-size-18"></i> </span><a href="{{ path('app_account_notification') }}">Notifications</a></li>
                            <li><span class="text-color mr-1"><i class="la la-envelope mr-2 text-color-2 font-size-18"></i> </span><a href="{{ path('app_account_conversation') }}">Messages</a></li>
                            <li>
                                <span class="text-color mr-1"><i class="la la-business-time mr-2 text-color-2 font-size-18"></i> </span>
                                {% if is_granted('edit', app.user) %}
                                    <a href="{{ path('app_account_professional_information') }}">
                                        {{ 'global.professional_area'|trans }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('app_professional_create') }}">
                                        {{ 'global.become_a_professional'|trans }}
                                    </a> 
                                {% endif %}
                            </li>
                            <li><span class="text-color mr-1"><i class="la la-heart-o mr-2 text-color-2 font-size-18"></i> </span><a href="{{ path('app_account_favoris') }}">Favoris</a></li>
                            <li><span class="text-color mr-1"><i class="la la-lock mr-2 text-color-2 font-size-18"></i> </span><a href="{{ path('app_account_password') }}">{{ 'global.password'|trans }}</a></li>
                            <li><span class="text-color mr-1"><i class="la la-cog mr-2 text-color-2 font-size-18"></i> </span><a href="{{ path('app_account_professional_option') }}">Options</a></li>
                            <li><span class="text-color mr-1"><i class="la la-sign-out mr-2 text-color-2 font-size-18"></i> </span><a href="{{ logout_path('front') }}">{{ 'global.logout'|trans }}</a></li>
                        </ul>
                   
                        {% if is_granted('edit', app.user) and app.user.professional %}
                            {% set professional = app.user.professional %}
                            <a href="#" id="available_link" data-url="{{ path("app_professional_ajax") }}" data-id="{{ professional.id }}" class="btn-gray {{ professional.available ? "available-btn" : "absent-btn" }}">{{ professional.available ? "available"|trans : "absent"|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                {% block account_content %}
                    <div class="user-listing-detail-wrap">
                        <div class="block-card mb-3">
                            <div class="block-card-header">
                                <h2 class="widget-title pb-0">{{ 'global.informations'|trans }}</h2>
                            </div>
                            <div class="block-card-body">
                                {% for message in app.flashes("message") %}
                                    <div class="alert alert-success font-size-15 text-color" role="alert">
                                        <span class="font-weight-semi-bold">{{ message }}</span>
                                    </div>
                                {% endfor %}
                                <div class="alert alert-info font-size-15 text-color" role="alert">
                                    <span class="font-weight-semi-bold">Votre adresse e-mail vous permet de recevoir le suivi de vos besoins et achats, ainsi que d’authentifier tout contact à notre support. Assurez-vous que celle-ci soit correcte.</span>
                                </div>
                                {{ form_start(userForm, {'method': 'post', 'attr': {'class': 'form-box row'} }) }}
                                    <div class="col-lg-12">
                                        <div class="input-box">
                                            <label class="label-text">{{ 'global.your_email'|trans }}</label>
                                            <div class="form-group error">
                                                <span class="la la-envelope form-icon"></span>
                                                {{ form_widget(userForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre adresse e-mail'} }) }}
                                                {{ form_errors(userForm.email) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box">
                                            <label class="label-text">{{ 'global.lastname'|trans }}</label>
                                            <div class="form-group error">
                                                <span class="la la-user form-icon"></span>
                                                {{ form_widget(userForm.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre nom'} }) }}
                                                {{ form_errors(userForm.lastname) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-box">
                                            <label class="label-text">{{ 'global.firstname'|trans }}</label>
                                            <div class="form-group error">
                                                <span class="la la-user form-icon"></span>
                                                {{ form_widget(userForm.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Entrer votre prénom'} }) }}
                                                {{ form_errors(userForm.firstname) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="input-box">
                                            <label class="label-text">Photo de profil</label>
                                            <div class="file-upload-wrap file-upload-wrap-2 profile">
                                                {{ form_widget(userForm.profile.imageFile, {'multiple': true, 'attr': {'class': 'file-upload-input with-preview', 'maxlength': '1'} }) }}
                                                <span class="file-upload-text"><i class="la la-photo mr-2"></i>{{ 'global.choose_a_file'|trans }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="submit-wrap pt-3">
                                        <div class="btn-box mt-3 ml-3">
                                            {{ form_widget(userForm.save, {'label': 'global.save'|trans, 'attr': {'class': 'theme-btn gradient-btn border-0'} }) }}
                                        </div>
                                    </div>
                                {{ form_end(userForm) }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block stylesheets %}
    {% embed "front/partials/stylesheets.html.twig" %}
        {% block stylesheets_content %}
            {{ parent() }}
            <link rel="stylesheet" href="{{ asset('assets/front/css/jquery-te-1.4.0.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/front/css/emojionearea.css') }}">
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    {% embed "front/partials/javascripts.html.twig" %}
        {% block javascripts_content %}
            {{ parent() }}
            <script src="{{ asset('assets/front/js/jquery-te-1.4.0.min.js') }}"></script>
            <script src="{{ asset('assets/front/js/jquery.MultiFile.min.js') }}"></script>
            <script src="{{ asset('assets/front/js/emojionearea.min.js') }}"></script>
        {% endblock %}
    {% endembed %}
{% endblock %}