{% extends 'front/account/index.html.twig' %}

{% block title %}{{ 'Messages - '~ parent() }}{% endblock %}

{% block account_content %}
    {% set message = conversation.messages|last %}
    {% set user = message.sender != app.user ? message.sender : message.recipient %}
    {% set profile = user.profile and user.profile.image ? vich_uploader_asset(user.profile, 'imageFile') : asset('assets/front/images/photoshop.png') %}
    <div class="user-listing-detail-wrap">
        <div class="block-card mb-3">
            <div class="block-card-header">
                <h2 class="widget-title pb-0">Messages</h2>
            </div>
            <div class="block-card-body"> 
                <div class="row">
                    <div class="col-lg-12">
                        <div class="block-card dashboard-card mb-4 px-0 pb-3">
                            <div class="block-card-header">
                                <div class="generic-list-item d-flex align-items-center py-0 border-bottom-0 bg-transparent">
                                    <div class="user-thumb flex-shrink-0">
                                        <img src="{{ profile }}" alt="author-image">
                                    </div>
                                    <div class="ml-2 flex-grow-1 position-relative">
                                        <p class="text-color font-size-14 font-weight-medium">{{ user }}</p>
                                        <div class="action-buttons position-absolute top-0 right-0">
                                            <a href="#" class="btn bg-rgb-danger font-weight-medium p-1 line-height-18" data-toggle="tooltip" data-placement="left" title="Delete Conversation"><i class="la la-trash"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-card-body pt-2">
                                <div id="messages" class="message-body scrollable-content scrollbar-hidden mb-4">
                                    {% for message in conversation.messages %}
                                        <div id="message{{ message.id }}" class="message-item{{ is_granted('edit', message) ? ' me' : '' }}">
                                            <div class="generic-list-item d-flex align-items-center border-bottom-0 bg-transparent">
                                                <div class="message-bubble ml-2 position-relative p-3 rounded">
                                                    <p class="text-color font-size-14 font-weight-medium">{{ message.content }}</p>
                                                </div>
                                                {% if is_granted('edit', message) %}
                                                    <div class="dropdown dot-action-wrap ml-1">
                                                        <button class="dot-action-btn dropdown-toggle after-none border-0 font-size-22" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="la la-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                            <a id="delete_message" data-id="{{ message.id }}" class="dropdown-item" href="#"><i class="la la-trash mr-1"></i>{{ 'global.delete'|trans }}</a>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="message-reply-body d-flex align-items-center pt-3 px-4 border-top border-top-color">
                                    <label class="mb-0 d-block flex-grow-1">
                                        <textarea id="message_send" class="emoji-picker" placeholder="Entrez votre message..."></textarea>
                                        <input type="hidden" id="conversation_id" value="{{ conversation.id }}">
                                        <input type="hidden" id="sender_id" value="{{ app.user.id }}">
                                        <input type="hidden" id="recipient_id" value="{{ user.id }}">
                                        <input type="hidden" id="professional_ajax_url" value="{{ path("app_professional_ajax") }}">
                                    </label>
                                    <div id="btn_send" class="message-send icon-element ml-2">
                                        <i class="la la-paper-plane"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}