{% extends 'front/account/index.html.twig' %}

{% block title %}{{ 'Mes besoins - '~ parent() }}{% endblock %}

{% block account_content %}
    <div class="user-listing-detail-wrap">
        <div class="block-card mb-3">
            <div class="block-card-header">
                <h2 class="widget-title pb-0">Liste de mes besoins</h2>
            </div>
            <div class="block-card-body">
                {% for message in app.flashes("message") %}
                    <div class="alert alert-success font-size-15 text-color" role="alert">
                        <span class="font-weight-semi-bold">{{ message }}</span>
                    </div>
                {% endfor %}
                <div class="my-table table-responsive">
                    <table class="table align-items-center table-flush mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Titre</th>
                                <th>Propositions</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for need in needs %}
                            <tr>
                                <td>#{{ need.id|strpad(5, '0') }}</td>
                                <td class="text-color">{{ need.title }}</td>
                                <td class="text-info">{{ need.proposals|filter((proposal) => proposal.nature != constant('App\\Entity\\Proposal::REFUSED'))|length }}</td>
                                {% if need.nature is constant('App\\Entity\\Need::PENDING') %}
                                    <td class="text-primary">En attente</td>
                                {% elseif need.nature is constant('App\\Entity\\Need::DISABLED') %}
                                    <td class="text-danger">Désactivé</td>
                                {% elseif need.nature is constant('App\\Entity\\Need::EXPIRED') %}
                                    <td class="text-danger">Expiré</td>
                                {% elseif need.nature is constant('App\\Entity\\Need::CONFIRMED') %}
                                    <td class="text-success">Validé</td>
                                {% elseif need.nature is constant('App\\Entity\\Need::PUBLISHED') %}
                                    <td class="text-info">Publié</td>
                                {% elseif need.nature is constant('App\\Entity\\Need::REJECTED') %}
                                    <td class="text-warning">Rejecté</td>
                                {% endif %}
                                <td>
                                    <a title="Visualiser" href="{{ need.nature is constant('App\\Entity\\Need::DISABLED') ? 'javascript:void(0)' : path('app_account_need_show', {id: need.id}) }}" class="text-primary"><i class="la la-eye font-size-18"></i></a>
                                    <a title="Modifier" href="{{ need.nature is constant('App\\Entity\\Need::DISABLED') ? 'javascript:void(0)' : path('app_account_need_edit', {id: need.id}) }}" class="text-warning"><i class="la la-pencil font-size-18"></i></a>
                                    <a title="Supprimer" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce besoin ?')" href="{{ path('app_account_need_delete', {id: need.id}) }}" class="text-danger"><i class="la la-trash font-size-18"></i></a>
                                    {% if need.nature is constant('App\\Entity\\Need::EXPIRED') %}
                                        <a title="Re-publier" href="#" class="text-success"><i class="la la-share font-size-18"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-3 text-center">
                {% do needs.setPageRange(4) %}
                {{ knp_pagination_render(needs, 'front/partials/pagination.html.twig') }}   
            </div>
        </div>
    </div>
{% endblock %}