{% extends 'front/account/index.html.twig' %}

{% block title %}{{ 'global.password'|trans ~' - '~ parent() }}{% endblock %}

{% block account_content %}
    <div class="user-listing-detail-wrap">
        <div class="block-card mb-3">
            <div class="block-card-header">
                <h2 class="widget-title pb-0">{{ 'global.password'|trans }}</h2>
            </div>
            <div class="block-card-body">
                {% for message in app.flashes("success") %}
                    <div class="alert alert-success alert-dismissible font-size-15 text-color" role="alert">
                        <span class="font-weight-semi-bold">{{ message }}</span>
                    </div>
                {% endfor %}
                {% for message in app.flashes("error") %}
                    <div class="alert alert-danger alert-dismissible font-size-15 text-color" role="alert">
                        <span class="font-weight-semi-bold">{{ message }}</span>
                    </div>
                {% endfor %}
                <div class="alert alert-info font-size-15 text-color" role="alert">
                    <span class="font-weight-semi-bold">Pour des raisons de sécurité, vous avez la possibilité de changer votre mot de passe quand bon vous semble.</span>
                </div>
                {{ form_start(passwordForm, {'method': 'post', 'attr': {'class': 'form-box'} }) }}
                    <div class="input-box">
                        <label class="label-text">{{ 'global.old_password'|trans }}</label>
                        <div class="form-group">
                            <span class="la la-lock form-icon"></span>
                            {{ form_widget(passwordForm.oldPassword, {'attr': {'class': 'form-control', 'placeholder': 'global.old_password'|trans }}) }}
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text">{{ 'global.new_password'|trans }}</label>
                        <div class="form-group error">
                            <span class="la la-lock form-icon"></span>
                            {{ form_widget(passwordForm.newPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'global.new_password'|trans }}) }}
                            {{ form_errors(passwordForm.newPassword.first) }}
                        </div>
                    </div>
                    <div class="input-box">
                        <label class="label-text">{{ 'global.confirmation'|trans }}</label>
                        <div class="form-group">
                            <span class="la la-lock form-icon"></span>
                            {{ form_widget(passwordForm.newPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'global.confirmation'|trans }}) }}
                            {{ form_errors(passwordForm.newPassword.second) }}
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="theme-btn gradient-btn border-0">
                            {{ 'global.save'|trans }} <i class="la la-arrow-right ml-1"></i>
                        </button>
                    </div>
                {{ form_end(passwordForm) }}
            </div>
        </div>
    </div>
{% endblock %}