{% extends 'front/account/index.html.twig' %}

{% block title %}{{ 'Propositions - '~ parent() }}{% endblock %}

{% block account_content %}
    <div class="user-listing-detail-wrap">
        <div class="block-card mb-3">
            <div class="block-card-header">
                <h2 class="widget-title pb-0">Propositions</h2>
            </div>
            <div class="block-card-body">
                <div class="accordion-item" id="accordion">
                {% set cpt = 0 %}
                {% for proposal in proposals %}
                    {% if proposal.nature is not constant('App\\Entity\\Proposal::REFUSED') %}
                        {% set cpt = cpt + 1 %}
                        <div class="card">
                            <div class="card-header" id="heading{{ proposal.id }}">
                                <h5>
                                    <button class="btn btn-link d-flex align-items-center justify-content-between" data-toggle="collapse" data-target="#collapse{{ proposal.id }}" aria-expanded="{{ loop.first ? "true" : "false" }}" aria-controls="collapse{{ proposal.id }}">
                                        Proposition #{{ cpt }}
                                        <i class="la la-minus"></i>
                                        <i class="la la-plus"></i>
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse{{ proposal.id }}" class="collapse {{ loop.first ? 'show' : ''}}" aria-labelledby="heading{{ proposal.id }}" data-parent="#accordion">
                                <div class="card-body row">
                                    <div class="list col-lg-6"><i class="la la-user text-color-2 mr-2 font-size-18"></i> Editer par : {{ proposal.professional.user }}</div>
                                    <div class="list col-lg-6"><i class="la la-calendar text-color-2 mr-2 font-size-18"></i> Dépuis le : {{ proposal.dateAdd|format_date() }}</div>
                                    <div class="list col-lg-6"><i class="la la-money text-color-2 mr-2 font-size-18"></i> Tarif : {{ proposal.price }} FCFA</div>
                                    <div class="list col-lg-6"><i class="la la-calendar text-color-2 mr-2 font-size-18"></i> Délai : {{ proposal.delay }} jours</div>
                                    <div class="list col-lg-12 expdesc">{{ proposal.note|raw }}</div>
                                    <div class="list col-lg-12 control">
                                        {% if proposal.nature is not constant('App\\Entity\\Proposal::ACCEPTED') %}
                                            <a class="btn bg-rgb-success font-weight-medium" onclick="return confirm('Etes-vous sûr de choisir cette proposition ?')" href="{{ path('app_professional_proposal_nature', {id: proposal.id, nature: 'accepted'}) }}">Accepter</a>
                                            <a class="btn bg-rgb-danger font-weight-medium" onclick="return confirm('Etes-vous sûr de refuser cette proposition ?')" href="{{ path('app_professional_proposal_nature', {id: proposal.id, nature: 'refused'}) }}">Refuser</a>
                                        {% endif %}
                                        <a class="btn bg-rgb-info font-weight-medium" target="_blank" href="{{ path('app_professional_show', {slug: proposal.professional.user.slug}) }}">{{ 'global.see_profile'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}