<div class="row item">
    <div class="col-lg-12">
        <div class="input-box">
            <label class="label-text">Enregistrez une couverture</label>
            <div class="file-upload-wrap file-upload-wrap-2 cover">
                {{ form_widget(form.thumbnailFile, {'required': false, 'multiple': true, 'attr': {'class': 'multi file-upload-input with-preview', 'maxlength': '1'} }) }}
                <span class="file-upload-text"><i class="la la-photo mr-2"></i>Choisi un fichier</span>
            </div>
        </div>
    </div> 
    <div class="col-lg-12">
        <div class="input-box">
            <label class="label-text">Titre</label>
            <div class="form-group">
                <span class="la la-envelope form-icon"></span>
                {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Entrer un titre'} }) }}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-box">
            <label class="label-text">Prix</label>
            <div class="form-group">
                <span class="la la-user form-icon"></span>
                {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Entrer un prix'} }) }}
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="input-box">
            <label class="label-text">Unité</label>
            <div class="form-group">
                <span class="la la-user form-icon"></span>
                {{ form_widget(form.unit, {'attr': {'class': 'form-control', 'placeholder': 'Entrer une unité'} }) }}
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="input-box">
            <label class="label-text">Longue Description</label>
            <div class="form-group">
                {{ form_widget(form.description, {'required': false, 'attr': {'class': 'message-control form-control user-text-editor'} }) }}
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="input-box">
            <a href="#" class="theme-btn gradient-btn btn-remove">Supprimer</a>
        </div>
    </div>
</div>