{% block breadcrumb_form_edit %}
    <div class="alert alert-primary font-size-15 text-color" role="alert">
        <div class="row onglet">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
            {% block breadcrumb_information %}
                <a href="{{ path('app_account_professional_information') }}">Informations</a>
            {% endblock %} 
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
            {% block breadcrumb_coordonnee %}
                <a href="{{ path('app_account_professional_social') }}">Médias sociaux</a>
            {% endblock %}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
                {% block breadcrumb_service %}
                    <a href="{{ path('app_account_professional_service') }}">Services</a>
                {% endblock %}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
                {% block breadcrumb_training %}
                    <a href="{{ path('app_account_professional_training') }}">Formations</a>
                {% endblock %}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
                {% block breadcrumb_reference %}
                    <a href="{{ path('app_account_professional_reference') }}">Références</a>
                {% endblock %}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
                {% block breadcrumb_gallery %}
                    <a href="{{ path('app_account_professional_gallery') }}">{{ 'global.gallery'|trans }}</a>
                {% endblock %}
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xl-6 breadcrumb-pro">
                {% block breadcrumb_proposal %}
                    <a href="{{ path('app_account_professional_proposal') }}">Propositions</a>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}